extends ../layout
block corpo
    .titlebox
        | Gestão de Pedidos

    #novos
        hidden-table(
            titulo="Novos Pedidos"
            :cabecalho="cabecalho"
            :linhas="linhas"
        )

    #apreciacao
        hidden-table(
            titulo="Pedidos em Apreciação Técnica"
            :cabecalho="cabecalho"
            :linhas="linhas"
        )

    #validacao
        hidden-table(
            titulo="Pedidos com validação técnica"
            :cabecalho="cabecalho"
            :linhas="linhas"
        )

    #autorizados
        hidden-table(
            titulo="Pedidos autorizados"
            :cabecalho="cabecalho"
            :linhas="linhas"
        )

    if user.level==7
        .titlebox
            | Gestão de Utilizadores

        #novouser
            hidden-table-v2(
                titulo="Registo de um novo utilizador"
                :linhas="linhas"
            )
        
        #editaruser
            hidden-table-v2(
                titulo="Editar informação de um utilizador"
                :linhas="linhas"
            )

append scripts    
    script(src="/javascripts/admin/gestao_pedidos.vue")