extends ../layout
block corpo
    #alteracao
        .row
            .titlebox
                | Tabela de Seleção {{ entidade.nome }}

            .textbox
                | Alteração do conteúdo dos campos nos processos de negócio 
                | selecionados: Notas de aplicação; Exemplos de NA; Notas de 
                | exclusão; Termos de índice; Legislação.

        .row(style="margin-top:20px")
            .col-lg-9
                .greybox
                    b Tabela de Seleção

                custom-table-waterfall(
                    v-if="table.ready"

                    :header="table.header"
                    :complete-rows="table.data"
                    :sub-ready="table.subReady"
                    :cwidth="table.cwidth"
                    :n-edits="table.nEdits"
                    
                    table-class='table table-hover'
                    
                    @row-clicked="rowClicked($event)"
                )
                h4(
                    v-else
                ) A carregar...

                button(@click="retroceder") Retroceder
                button(@click="submeter") Submeter


            .col-lg-3
                .textbox
                    ul
                        li Selecione na tabela os processos de negócio a alterar para 
                            | alteração dos campos de complemento à descrição (Notas de aplicação; 
                            | Exemplos de NA; Notas de exclusão; Termos de índice) e Legislação.
                        li Elimine (x) os atributos que não devam ser considerados na TS da sua 
                            | entidade.
                        li Acrescente os atributos que considerar necessários.
                        li É necessário propor previamente a legislação para a poder selecionar.
                        li É igualmente necessário propor previamente uma entidade para a poder 
                            | associar na qualidade de dono ou de participante. 
        
        

        modal(
            :title="clas.Code+' - '+clas.Title" 
            :value="classShow"

            large
            
            ok-text="Guardar"
            cancel-text="Fechar"

            @closed="classShow=false"
            @ok="updateClass"
        )
            .modal-body(slot="modal-body")
                .form-group
                    table.consulta(v-if="pageReady" style="border-color: white; border-style:solid; margin-bottom:20px")
                        
                        //- STATUS
                        tr
                            td(style="width: 10%")
                                .info-label Status: 
                            td(v-if="edit.Status" style="width:80%" valign="center")
                                select(
                                    v-model="newClass.Status"
                                )
                                    option(
                                        value="H"
                                        selected
                                    )   Harmonização
                                    option(
                                        value="A"
                                    )   Activa
                                    option(
                                        value="I"
                                    ) Inactiva
                                    
                            td(v-else style="width:80%" valign="center")
                                | {{ clas.Status }} 

                            if user 
                                td(style="width:10%")
                                    label(style="padding-right:5px") Editar
                                    input(
                                        type="checkbox"
                                        v-model="edit.Status"
                                    )

                        //- CLASSE PAI
                        tr(v-if="clas.Level>1")
                            td(style="width: 10%")
                                .info-label Classe Pai: 
                            td(style="width:80%")
                                a(:href="'/classes/consultar/'+clas.Parent.id") {{ clas.Parent.code }}
                                |  - {{ clas.Parent.title }}

                        //- CLASSES DESCENDENTES
                        tr(v-if="clas.Level<4 && clas.Children")
                            td(style="width: 10%")
                                .info-label Descendência: 
                            td(style="width:80%")
                                ul(style="padding-left:20px")
                                    li(v-for="child in clas.Children")
                                        a(:href="'/classes/consultar/c'+child.Code")
                                            | {{ child.Code }}
                                        |  - {{ child.Title }}
                        
                        //- CÓDIGO
                        tr 
                            td(style="width: 10%")
                                .info-label Código: 
                            td(style="width:80%")
                                | {{ clas.Code }}  

                        //- TÍTULO
                        tr
                            td(style="width: 10%")
                                .info-label Título: 
                            td(v-if="edit.Title" style="width:80%")
                                input(
                                    size="50"
                                    v-model="newClass.Title"
                                    :placeholder="clas.Title"
                                )
                            td(v-else style="width:80%")
                                | {{ clas.Title }} 

                            if user 
                                td(style="width:10%")
                                    label(style="padding-right:5px") Editar
                                    input(
                                        type="checkbox"
                                        v-model="edit.Title"
                                    )

                    accordion.info-classe
                        panel(header="Descritivo da Classe")
                            table.consulta(v-if="pageReady" style="border-color: white; border-style:solid")                

                                //- DESCRIÇÃO
                                tr
                                    td(style="width: 10%")
                                        .info-label Descrição: 
                                    td(v-if="edit.Desc" style="width:80%")
                                        textarea(
                                            cols="72"
                                            lines="5"
                                            v-model="newClass.Desc"
                                        )
                                    td(v-else style="width:80%")
                                        | {{ clas.Desc }} 

                                    if user 
                                        td(style="width:10%")
                                            label(style="padding-right:5px") Editar
                                            input(
                                                type="checkbox"
                                                v-model="edit.Desc"
                                            )

                                //- NOTAS DE APLICAçÃO                        
                                tr
                                    td(style="width: 10%")
                                        .info-label Nota(s) de Aplicação:
                                    td(v-if="edit.AppNotes" style="width:80%")
                                        table
                                            tr
                                                td
                                                    textarea(
                                                        cols="72"
                                                        lines="5"
                                                        v-model="newClass.AppNote"
                                                        @keyup.ctrl.enter="addNewAppNote" 
                                                    )
                                                    button(@click="addNewAppNote") Ok

                                                    ul(style="padding-left:20px")
                                                        li(v-for="(note,index) in newClass.AppNotes")
                                                            button(@click="newClass.AppNotes.splice(index,1)") x
                                                            | {{note.Nota}}
                                    td(v-else style="width:80%")
                                        ul(style="padding-left:20px" v-if="appNotesReady")
                                            li(v-for="note in clas.AppNotes")
                                                | {{note.Nota}}
                                    
                                    if user
                                        td(style="width:10%")
                                            label(style="padding-right:5px") Editar
                                            input(
                                                type="checkbox"
                                                v-model="edit.AppNotes"
                                            )

                                //- EXEMPLOS DE NOTAS DE APLICAçÃO                        
                                tr
                                    td(style="width: 10%")
                                        .info-label Exemplo(s) de Nota(s) de Aplicação:
                                    td(v-if="edit.ExAppNotes" style="width:80%")
                                        table
                                            tr
                                                td
                                                    textarea(
                                                        cols="72"
                                                        lines="5"
                                                        v-model="newClass.ExAppNote"
                                                        @keyup.ctrl.enter="addNewExAppNote" 
                                                    )
                                                    button(@click="addNewExAppNote") Ok

                                                    ul(style="padding-left:20px")
                                                        li(v-for="(note,index) in newClass.ExAppNotes")
                                                            button(@click="newClass.ExAppNotes.splice(index,1)") x
                                                            | {{note.Exemplo}}
                                    td(v-else style="width:80%")
                                        ul(style="padding-left:20px" v-if="exAppNotesReady")
                                            li(v-for="note in clas.ExAppNotes")
                                                | {{note.Exemplo}}

                                    if user
                                        td(style="width:10%")
                                            label(style="padding-right:5px") Editar
                                            input(
                                                type="checkbox"
                                                v-model="edit.ExAppNotes"
                                            )

                                //- NOTAS DE EXCLUSÃO                        
                                tr
                                    td(style="width: 10%")
                                        .info-label Nota(s) de Exclusão:
                                    td(v-if="edit.DelNotes" style="width:80%")
                                        table
                                            tr
                                                td
                                                    textarea(
                                                        cols="72"
                                                        lines="5"
                                                        v-model="newClass.DelNote"
                                                        @keyup.ctrl.enter="addNewDelNote" 
                                                    )
                                                    button(@click="addNewDelNote") Ok

                                                    ul(style="padding-left:20px")
                                                        li(v-for="(note,index) in newClass.DelNotes")
                                                            button(@click="newClass.DelNotes.splice(index,1)") x
                                                            | {{note.Nota}}
                                    td(v-else style="width:80%")
                                        ul(style="padding-left:20px" v-if="delNotesReady")
                                            li(v-for="note in clas.DelNotes")
                                                | {{note.Nota}}

                                    if user
                                        td(style="width:10%")
                                            label(style="padding-right:5px") Editar
                                            input(
                                                type="checkbox"
                                                v-model="edit.DelNotes"
                                            )

                                //- TERMOS DE ÍNDICE
                                tr
                                    td(style="width: 10%")
                                        .info-label Termos de Índice:
                                    td(style="width:80%")
                                        ul(style="padding-left:20px")
                                            li(v-for="index in clas.Indexes")
                                                | {{ index.Termo }}

                        panel(header="Contexto de Avaliação" v-if="clas.Level>=3")
                            table.consulta(v-if="pageReady" style="border-color: white; border-style:solid; width:100%")
                                //- TIPO/TRANSVERSAL
                                tr
                                    td(colspan=2)
                                        table.noborder
                                            //- TIPO DE PROCESSO
                                            td(style="width: 50%")
                                                table
                                                    td(style="width: 10%")
                                                        .info-label Tipo de Processo: 
                                                    td(v-if="edit.ProcType" style="width:80%")
                                                        input#pc(
                                                            type="radio"
                                                            value="pc"
                                                            v-model="newClass.ProcType"
                                                        ) 
                                                        label(for="pc" style="font-weight:normal")
                                                            |  Processo Comum
                                                        br
                                                        input#pe(
                                                            type="radio"
                                                            value="pe"
                                                            v-model="newClass.ProcType"
                                                        )
                                                        label(for="pe" style="font-weight:normal")
                                                            |  Processo Específico

                                                    td(v-else style="width:80%")
                                                        | {{ clas.ProcType }}  

                                                    if user
                                                        td(style="width:10%")
                                                            label(style="padding-right:5px") Editar
                                                            input(
                                                                type="checkbox"
                                                                v-model="edit.ProcType"
                                                            )

                                            //- PROCESSO TRANVERSAL
                                            td(style="width: 50%")
                                                table
                                                    td(style="width: 10%")
                                                        .info-label Processo Transversal: 
                                                    td(v-if="edit.ProcTrans" style="width:80%")
                                                        input#ptS(
                                                            type="radio"
                                                            value="S"
                                                            v-model="newClass.ProcTrans"
                                                        ) 
                                                        label(for="ptS" style="font-weight:normal")
                                                            |  Sim
                                                        br
                                                        input#ptN(
                                                            type="radio"
                                                            value="N"
                                                            v-model="newClass.ProcTrans"
                                                        )
                                                        label(for="ptN" style="font-weight:normal")
                                                            |  Não
                                                    td(v-else style="width:80%")
                                                        | {{ clas.ProcTrans }}  

                                                    if user
                                                        td(style="width:10%")
                                                            label(style="padding-right:5px") Editar
                                                            input(
                                                                type="checkbox"
                                                                v-model="edit.ProcTrans"
                                                            )

                                //- DONOS
                                tr
                                    td(style="width: 10%")
                                        .info-label Donos:

                                    td(v-if="edit.Owners" style="width:80%")
                                        table
                                            tr
                                                td
                                                    v-select.custom-select(
                                                        v-model="newClass.Owner"
                                                        :options="orgList"
                                                    )
                                                td
                                                    button(
                                                        @click="newClass.Owners.push(newClass.Owner.value)"
                                                    ) +
                                            tr(v-if="clas.Owners")
                                                td( colspan="2")
                                                    ul(style="padding-left:20px")
                                                        li(v-for="(o,index) in newClass.Owners")
                                                            | {{ o.Sigla }} - {{ o.Nome }} 
                                                            button(
                                                                @click="remOwner(index)"
                                                            ) x
                                    td(v-else style="width:80%")
                                        ul(v-if="ownersReady" style="padding-left:20px")
                                            li(v-for="o in clas.Owners")
                                                a(:href="'/organizacoes/consultar/'+o.id") {{ o.Sigla }}
                                                |  - {{ o.Nome }}
                                    if user
                                        td(style="width:10%")
                                            label(style="padding-right:5px") Editar
                                            input(
                                                type="checkbox"
                                                v-model="edit.Owners"
                                            )

                                //- PARTICIPANTES
                                tr(v-if="clas.ProcTrans=='S' || (edit.ProcTrans && newClass.ProcTrans=='S')")
                                    td(style="width: 10%")
                                        .info-label Participante(s):
                                        
                                    td(v-if="edit.Participants" style="width:80%")
                                        table
                                            tr
                                                td(width="30%")
                                                    v-select.custom-select(
                                                        v-model="newClass.ParticipantType"
                                                        :options="Object.keys(clas.Participants)"
                                                    )
                                                td(width="30%")
                                                    v-select.custom-select(
                                                        v-model="newClass.Participant"
                                                        :options="orgList"
                                                    )
                                                td
                                                    button(
                                                        @click="addParticipant(newClass.ParticipantType,newClass.Participant.value)"
                                                    ) +
                                            tr
                                                td(colspan=3)
                                                    ul(v-if="relProcsReady" style="padding-left:20px")
                                                        li(v-for="key in Object.keys(newClass.Participants)" v-if="newClass.Participants[key].length>0")
                                                            b {{ key }}
                                                                span(v-if="newClass.Participants[key].length>1") es
                                                            ul
                                                                li(v-for="(p, index) in newClass.Participants[key]")
                                                                    | {{ p.Sigla }} - {{ p.Nome }}
                                                                    button(
                                                                        @click="remParticipant(key, index)"
                                                                    ) x
                                    td(v-else style="width:80%")
                                        ul(v-if="relProcsReady" style="padding-left:20px")
                                            li(v-for="key in Object.keys(clas.Participants)" v-if="clas.Participants[key].length>0")
                                                b {{ key }}
                                                    span(v-if="clas.Participants[key].length>1") es
                                                ul
                                                    li(v-for="p in clas.Participants[key]")
                                                        a(:href="'/organizacoes/consultar/'+p.id") {{ p.Sigla }}
                                                        |  - {{ p.Nome }}
                                    if user
                                        td(style="width:10%")
                                            label(style="padding-right:5px") Editar
                                            input(
                                                type="checkbox"
                                                v-model="edit.Participants"
                                            )

                                //- PROCESSOS RELACIONADOS
                                tr
                                    td(style="width: 10%")
                                        .info-label Processo(s) Relacionado(s):
                                        
                                    td(v-if="edit.RelProcs" style="width:80%")
                                        table
                                            tr
                                                td(width="30%")
                                                    v-select.custom-select(
                                                        v-model="newClass.RelType"
                                                        :options="Object.keys(clas.RelProcs)"
                                                    )
                                                td(width="30%")
                                                    v-select.custom-select(
                                                        v-model="newClass.RelProc"
                                                        :options="classList"
                                                    )
                                                td
                                                    button(
                                                        @click="addRelation(newClass.RelType,newClass.RelProc.value)"
                                                    ) +
                                            tr
                                                td(colspan=3)
                                                    ul(v-if="relProcsReady" style="padding-left:20px")
                                                        li(v-for="key in Object.keys(newClass.RelProcs)" v-if="newClass.RelProcs[key].length>0")
                                                            b É {{ key }}:
                                                            ul
                                                                li(v-for="(c, index) in newClass.RelProcs[key]")
                                                                    | {{ c.Code }} - {{ c.Title }}
                                                                    button(
                                                                        @click="remRelation(key, index)"
                                                                    ) x
                                    td(v-else style="width:80%")
                                        ul(v-if="relProcsReady" style="padding-left:20px")
                                            li(v-for="key in Object.keys(clas.RelProcs)" v-if="clas.RelProcs[key].length>0")
                                                b É {{ key }}
                                                ul
                                                    li(v-for="c in clas.RelProcs[key]")
                                                        a(:href="'/classes/consultar/'+c.id") {{ c.Code }}
                                                        |  - {{ c.Title }}
                                    if user
                                        td(style="width:10%")
                                            label(style="padding-right:5px") Editar
                                            input(
                                                type="checkbox"
                                                v-model="edit.RelProcs"
                                            )

                                //- LEGISLAÇÃO
                                tr
                                    td(style="width: 10%")
                                        .info-label Legislação:
                                    td(v-if="edit.Legs" style="width:80%")
                                        table
                                            tr
                                                td
                                                    v-select.custom-select( 
                                                        v-model="newClass.Leg"
                                                        :options="legList"
                                                    )
                                                td
                                                    button(
                                                        @click="addLeg(newClass.Leg.value)"
                                                    ) +
                                            tr(v-if="clas.Legs")
                                                td(colspan="2")
                                                    ul(style="padding-left:20px")
                                                        li(v-for="(l,index) in newClass.Legs")
                                                            | {{ l.Tipo }} - {{ l.Número }} - {{ l.Titulo }}
                                                            button(
                                                                @click="remLeg(index)"
                                                            ) x
                                    td(v-else style="width:80%")
                                        ul(v-if="legsReady" style="padding-left:20px")
                                            li(v-for="l in clas.Legs")
                                                | {{ l.Tipo }} - 
                                                a(:href="'/legislacao/consultar/'+l.id") {{ l.Número }} 
                                                | - {{ l.Titulo }}
                                    if user
                                        td(style="width:10%")
                                            label(style="padding-right:5px") Editar
                                            input(
                                                type="checkbox"
                                                v-model="edit.Legs"
                                            )

                        panel(header="Decisões de Avaliação" v-if="clas.Level>=3")
                            table.consulta.noborder(v-if="pageReady" style="border-color: white; border-style:solid")
                                //- PRAZO DE CONSERVAÇÃO ADMINISTRATIVA
                                tr(v-if="clas.PCA.valores.length")
                                    td
                                        .info-label(style="text-align:center")
                                            | Prazo de Conservação Administrativa
                                tr(v-if="clas.PCA.valores.length")
                                    td
                                        table.noborder
                                            tr
                                                td
                                                    .info-label Prazo:
                                                td(width="10%")
                                                    | {{ clas.PCA.valores.join(', ') }}
                                                td(style="padding-left:10px")
                                                    .info-label Forma de Contagem:
                                                td
                                                    | {{ clas.PCA.contagemnormalizada }}                                        
                                            tr
                                                td
                                                    .info-label Justificação:
                                                td(colspan=3)
                                                    table(v-for="criterio in clas.PCA.criterios")
                                                        tr
                                                            td
                                                                b {{ criterio.tipo }}
                                                        tr
                                                            td 
                                                                p(v-html="criterio.nota")
                                    
                                //- DESTINO FINAL
                                tr(v-if="clas.DF.valores.length")
                                    td
                                        .info-label(style="text-align:center") 
                                            | Destino Final
                                tr(v-if="clas.DF.valores.length")
                                    td
                                        table.noborder
                                            tr
                                                td
                                                    .info-label Destino Final:
                                                td
                                                    | {{ clas.DF.valores.join(', ') }}                                            
                                            tr
                                                td
                                                    .info-label Justificação:
                                                td
                                                    table(v-for="criterio in clas.DF.criterios")
                                                        tr
                                                            td
                                                                b {{ criterio.tipo }}
                                                        tr
                                                            td 
                                                                p(v-html="criterio.nota")
                  
                spinner(ref="spinner" size="lg" fixed text="Por favor aguarde...")

    //-
append scripts    
    script(src="/javascripts/tabsSel/alterar_PNs.vue")