extends ../layout 
block corpo
    #tabs
        .titlebox
            | Tabela de Seleção {{ entidade.nome }}
        
        tabs(:value="activeTab" @input="inputed($event)")
            //- PROCESSOS COMUNS
            tab(header="Processos Comuns" ref="tab1")
                .textbox
                    | A partir da lista de processos comuns (passíveis de existirem em qualquer 
                    | entidade) identifique a natureza de intervenção da sua entidade, como dono 
                    | ou participante, em cada processo de negócio.

                
                .infobox(style="margin-top:10px")
                    b Lista Consolidada - Processos Comuns

                #tabela(style="margin-top:30px")
                    custom-table-waterfall(
                        v-if="ready"

                        select-on="true"

                        suffix="common"

                        :header="tableHeader"
                        :complete-rows="commonProcs"
                        :cwidth="cwidth"
                        :n-edits="nEdits"
                        
                        table-class='table table-hover'
                        
                        @select-clicked-common="selectClicked($event, commonProcs)"
                    )
                    h4(
                        v-else
                    ) Loading...


            //-PROCESSOS ESPECÍFICOS
            tab(header="Processos Específicos" ref="tab2")
                .textbox
                    | Selecione a tipologia de entidade a que pertence.

                div(style="margin-top:10px")
                    custom-table-select(
                        v-if="tipolsReady"

                        :header="tipolsTableHeader"
                        :complete-rows="tipolList"
                        :ready="tipolsReady"
                        :cwidth="tipolsTableWidth"
                        
                        class-table='table table-condensed'

                        @select-clicked="tipolSelected($event)"
                    )
                    h4(
                        v-else
                    ) Loading...   
                    //-table(style="width:100%;table-layout:fixed")
                        tr
                            td(width="500px")
                                v-select.custom-select( 
                                    style="width:500px"
                                    v-model="newTipol"
                                    :options="tipolList"
                                )
                            td(valign="top")
                                button(
                                    @click="myTipolList.unshift(newTipol.value)"
                                ) +
                        tr(v-if="myTipolList.length")
                            td(colspan="2" style="padding-top:10px")
                                ul(style="padding-left:20px")
                                    li(v-for="(o,index) in myTipolList")
                                        | {{ o.Sigla }} - {{ o.Nome }}
                                        button(
                                            @click="myTipolList.splice(index,1)"
                                        ) x

                .textbox(style="margin-top:30px")
                    | Assinale na lista apresentada a natureza da intervenção da entidade, 
                    | na qualidade de Dono e/ou Participante


                
                .infobox(style="margin-top:10px")
                    b Lista Consolidada - Seleção por entidade e tipologia

                #tabela(style="margin-top:30px")
                    custom-table-waterfall(
                        v-if="specReady && myTipolList.length"

                        select-on="true"
                        
                        suffix="specific"

                        :header="tableHeader"
                        :complete-rows="specificProcs"
                        :cwidth="cwidth"
                        :n-edits="nEdits"
                        
                        table-class='table table-hover'
                        
                        @select-clicked-specific="selectClicked($event, specificProcs)"
                    )
                    h4(
                        v-else
                    ) Nenhuma tipologia selecionada...


            //-PROCESSOS RESTANTES
            tab(header="Processos Restantes" @click="activeTab=1")
                .textbox
                    | Selecione na lista de processos de negócio específicos restantes 
                    |aqueles em que a sua entidade intervém e assinale a natureza da 
                    |intervenção, na qualidade de Dono e/ou Participante
                
                .infobox(style="margin-top:10px")
                    b Lista Consolidada - Processos Específicos Restantes

                #tabela(style="margin-top:30px")
                    custom-table-waterfall(
                        v-if="restReady"

                        select-on="true"
                        
                        suffix="rest"

                        :header="tableHeader"
                        :complete-rows="restProcs"
                        :cwidth="cwidth"
                        :n-edits="nEdits"
                        
                        table-class='table table-hover'
                        
                        @select-clicked-rest="selectClicked($event, restProcs)"
                    )
                    h4(
                        v-else
                    ) Loading...

        center
            button.next(@click="activeTab--" :disabled="activeTab<=0") <
            button(@click="saveInfo") Guardar
            button.next(@click="activeTab++" :disabled="activeTab>=2") >
        button(@click="loadSavedInfo") Continuar Trabalho
            
        
append scripts
    script(src="/javascripts/tabsSel/escolha_processos.vue")


    