extends ../Templates/layout
block corpo
    #organizacao-form.panel.panel-default
        .panel-heading
            h1.page-header {{ orgName }}  
        .panel-body
            .form-group
                table.consulta
                    //-NOME
                    tr
                        td(style="width:10%")
                            label Nome: 
                        td(v-if="editName" style="width:80%")
                            input(
                                size="50"
                                v-model="newName"
                                :placeholder="orgName"
                            )
                        td(v-else style="width:80%")
                            | {{ orgName }}  
                        if user
                            td(style="width:10%")
                                label(style="padding-right:5px") Editar
                                input(
                                    type="checkbox"
                                    v-model="editName"
                                )
                    
                    //- SIGLA
                    tr
                        td
                            label Sigla: 
                        td(v-if="editInitials")
                            input(
                                size="50"
                                v-model="newInitials"
                                :placeholder="orgInitials"
                            )
                        td(v-else)
                            | {{ orgInitials }} 
                        if user 
                            td
                                label(style="padding-right:5px") Editar
                                input(
                                    type="checkbox"
                                    v-model="editInitials"
                                )
            
                    //- DOMINIO
                    tr
                        td(style="width:10%")
                            label Dono de:
                        //- edição
                        td(v-if="editDomain" style="width:80%")
                            table
                                tr
                                    td(width="60%")
                                        v-select.custom-select(
                                            v-model="newClass"
                                            :options="classList"
                                        )
                                    td
                                        button(
                                            @click="newDomain.unshift(newClass.value)"
                                        ) +
                                tr(v-if="newDomain.length")
                                    td(colspan="2")
                                        ul(style="padding-left:20px")
                                            li(v-for="(c,index) in newDomain")
                                                | {{ c.Code }} - {{ c.Title }}
                                                button(
                                                    @click="newDomain.splice(index,1)"
                                                ) x
                        td(v-else style="width:80%")
                            ul(v-if="domainReady" style="padding-left:20px" :class="{'is-collapsed' : domainCollapsed }")
                                li(v-for="c in domain")
                                    a(:href="'/classe?id='+c.id") {{ c.Code }}
                                    |  - {{ c.Title }}
                            button(@click="domainCollapsed=!domainCollapsed" v-if="domain.length>4")
                                span(v-if="domainCollapsed") Mostrar mais...
                                span(v-else) Mostrar menos...
                        //-
                         td(style="width:10%")
                            label(style="padding-right:5px") Editar
                            input(
                                type="checkbox"
                                v-model="editDomain"
                            )

                    //- PARTICIPAÇÕES
                    tr
                        td(style="width:10%")
                            label Participações:    
                        //- edição
                        td(v-if="editParts" style="width:80%")
                            table
                                tr
                                    td(width="30%")
                                        v-select.custom-select(
                                            v-model="newPartType"
                                            :options="Object.keys(participations)"
                                        )
                                    td(width="30%")
                                        v-select.custom-select(
                                            v-model="newPart"
                                            :options="classList"
                                        )
                                    td
                                        button(
                                            @click="newParticipations[newPartType].unshift(newPart.value)"
                                        ) +
                                tr
                                    td(colspan="3")
                                        ul(v-if="partsReady" style="padding-left:20px")
                                            li(v-for="key in Object.keys(newParticipations)" v-if="newParticipations[key].length>0")
                                                b Como {{ key }}
                                                ul
                                                    li(v-for="(p, index) in newParticipations[key]")
                                                        | {{ p.Code }} - {{ p.Title }}
                                                        button(
                                                            @click="newParticipations[key].splice(index,1)"
                                                        ) x
                        td(v-else style="width:80%")
                            ul(v-if="partsReady" style="padding-left:20px")
                                li(v-for="key in Object.keys(participations)" v-if="participations[key].length>0")
                                    b Como {{ key }}:
                                    ul(:class="{'is-collapsed' : partsCollapsed[key] }")
                                        li(v-for="p in participations[key]")
                                            a(:href="'/classe?id='+p.id") {{ p.Code }}
                                            |  - {{ p.Title }}
                                    button(@click="partsCollapsed[key]=!partsCollapsed[key]" v-if="participations[key].length>4")
                                        span(v-if="partsCollapsed[key]") Mostrar mais...
                                        span(v-else) Mostrar menos...
                        //-
                         td(style="width:10%")
                            label(style="padding-right:5px") Editar
                            input(
                                type="checkbox"
                                v-model="editParts"
                            )

            if user
                input.btn.btn-xs.btn-default.col-sm-1(
                    type="button" 
                    @click="update" 
                    value="Confirmar" 
                    :disabled="!((editName && newName) || (editInitials && newInitials))"
                )
                input.btn.btn-xs.btn-warning.col-sm-1(
                    type="button" 
                    @click="delReady" 
                    value="Apagar" 
                    :disabled="(editName || editInitials)"
                )
                p.col-sm-5 {{ message }}

                input.btn.btn-xs.btn-danger(
                    v-if="delConfirm"
                    type="button" 
                    @click="deleteOrg" 
                    value="OK" 
                )
                input.btn.btn-xs.btn-info(
                    v-if="delConfirm"
                    type="button" 
                    @click="delNotReady" 
                    value="<-" 
                )
    //-

append scripts    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js")
    script(src="/Scripts/Orgs/consulta.vue")