extends ../Templates/layout
block corpo
    #organizacao-form.panel.panel-default
        .panel-heading
            h1.page-header {{ orgName }}  
        .panel-body
            .form-group
                table.consulta
                    //-NOME
                    tr
                        td(style="width:10%")
                            label Nome: 
                        td(v-if="editName" style="width:80%")
                            input(
                                size="50"
                                v-model="newName"
                                :placeholder="orgName"
                            )
                        td(v-else style="width:80%")
                            | {{ orgName }}  
                        td(style="width:10%")
                            label(style="padding-right:5px") Editar
                            input(
                                type="checkbox"
                                v-model="editName"
                            )
                    
                    //- SIGLA
                    tr
                        td
                            label Sigla: 
                        td(v-if="editInitials")
                            input(
                                size="50"
                                v-model="newInitials"
                                :placeholder="orgInitials"
                            )
                        td(v-else)
                            | {{ orgInitials }}  
                        td
                            label(style="padding-right:5px") Editar
                            input(
                                type="checkbox"
                                v-model="editInitials"
                            )
            
                    //- DOMINIO
                    tr
                        td(style="width:10%")
                            label Domínio:
                        //- edição
                            td(v-if="edit.Owners" style="width:80%")
                            table
                                tr
                                    td
                                        select( v-model="newClass.Owner")
                                            option(v-for="(o,index) in orgList" :value="o")
                                                | {{ o.Sigla }}
                                        button(
                                            @click="addOwner(orgList.indexOf(newClass.Owner))"
                                        ) +
                                tr(v-if="clas.Owners")
                                    td
                                        ul(style="padding-left:20px")
                                            li(v-for="(o,index) in newClass.Owners")
                                                | {{ o.Sigla }}
                                                button(
                                                    @click="remOwner(index)"
                                                ) x
                        td(style="width:80%")
                            ul(v-if="domainReady" style="padding-left:20px" :class="{'is-collapsed' : domainCollapsed }")
                                li(v-for="c in domain")
                                    a(:href="'/classe?id='+c.id") {{ c.Codigo }}
                                    |  - {{ c.Titulo }}
                            button(@click="domainCollapsed=!domainCollapsed" v-if="domain.length>4")
                                | Mostrar mais...
                        
                        td(style="width:10%")
                            label(style="padding-right:5px") Editar
                            input(
                                type="checkbox"
                                v-model="editDomain"
                            )

                    //- PARTICIPAÇÕES
                    tr
                        td(style="width:10%")
                            label Participações:    
                        //- edição
                            td(v-if="edit.Participants" style="width:80%")
                            table
                                tr
                                    td
                                        select( v-model="newClass.ParticipantType")
                                            option(v-for="key in Object.keys(clas.Participants)")
                                                | {{ key }}
                                        select( v-model="newClass.Participant")
                                            option(v-for="(o,index) in orgList" :value="o")
                                                | {{ o.Sigla }}
                                        button(
                                            @click="addParticipant()"
                                        ) +
                                tr
                                    td
                                        ul(v-if="relProcsReady" style="padding-left:20px")
                                            li(v-for="key in Object.keys(newClass.Participants)" v-if="newClass.Participants[key].length>0")
                                                b {{ key }}
                                                    span(v-if="newClass.Participants[key].length>1") es
                                                ul
                                                    li(v-for="(p, index) in newClass.Participants[key]")
                                                        | {{ p.Sigla }} - {{ p.Nome }}
                                                        button(
                                                            @click="remParticipant(key, index)"
                                                        ) x
                        td(style="width:80%")
                            ul(v-if="partsReady" style="padding-left:20px")
                                li(v-for="key in Object.keys(participations)" v-if="participations[key].length>0")
                                    b Como {{ key }}:
                                    ul(:class="{'is-collapsed' : partsCollapsed[key] }")
                                        li(v-for="p in participations[key]")
                                            a(:href="'/classe?id='+p.id") {{ p.Codigo }}
                                            |  - {{ p.Titulo }}
                                    button(@click="partsCollapsed[key]=!partsCollapsed[key]" v-if="participations[key].length>4")
                                        | Mostrar mais...
                        td(style="width:10%")
                            label(style="padding-right:5px") Editar
                            input(
                                type="checkbox"
                                v-model="editParts"
                            )


            input.btn.btn-xs.btn-default.col-sm-1(
                type="button" 
                @click="update" 
                value="Confirmar" 
                :disabled="!((editName && newName) || (editInitials && newInitials))"
            )
            input.btn.btn-xs.btn-warning.col-sm-1(
                type="button" 
                @click="delReady" 
                value="Apagar" 
                :disabled="(editName || editInitials)"
            )
            p.col-sm-5 {{ message }}

            input.btn.btn-xs.btn-danger(
                v-if="delConfirm"
                type="button" 
                @click="deleteOrg" 
                value="OK" 
            )
            input.btn.btn-xs.btn-info(
                v-if="delConfirm"
                type="button" 
                @click="delNotReady" 
                value="<-" 
            )
    //-

append scripts    
    script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js")
    script(src="/Scripts/Orgs/consulta.vue")