extends ../layout
block corpo
    #nova-entidade-form.panel.panel-default.panel-custom
        .panel-heading
            h1.page-header Nova Entidade  
        .panel-body
            .form-group 
                table.consulta(style="border-color: white; border-style:solid; margin-bottom:20px")
                    tr
                        td(style="width:10%")
                            .info-label Nome da Entidade: 
                        td(style="width:80%")
                            input(
                                size="50"
                                v-model="designacao" 
                                maxlength="50"
                            )

                    tr
                        td(style="width:10%")
                            .info-label Sigla: 
                        td
                            input(size="50" v-model="sigla" maxlength="10")

                    tr
                        td(style="width:10%")
                            .info-label Internacional: 
                        td
                            select(v-model="internacional")
                                option(value="Sim") Sim
                                option(value="Não" selected) Não
                            
                    tr
                        td(style="width:10%")
                            .info-label SIOE: 
                        td
                            input(size="50" v-model="sioe" maxlength="12")

                    tr
                        td(style="width:10%")
                            .info-label Pertence às tipologias de entidade: 

                        td
                            .col-sm-10
                                .row(v-if="tipologiasSelecionadas.length > 0")
                                    table.table.table-condensed.table-hover
                                        tr
                                            th Sigla 
                                            th Designação
                                            th Ação
                                        tr(v-for="(p, index) in tipologiasSelecionadas")
                                            td {{p.data[0]}}
                                            td {{p.data[1]}}
                                            td 
                                                button.btn.btn-default(type="button")
                                                    span.glyphicon.glyphicon-remove(@click="desselecionarTipologia(p, index)") 


                                accordion
                                    panel(type="white" header="Selecionar Tipologias")
                                        select-row-from-table(
                                            v-if="ready"

                                            :header="tipTableHeader"
                                            :complete-rows="tipologias"
                                            :ready="ready"
                                            :cwidth="tipTableWidth"
                                            
                                            class-table='table table-condensed'

                                            @select-clicked="selecionarTipologia($event)"
                                        )
                                        h4(
                                            v-else
                                        ) A carregar...

            spinner(ref="spinner" fixed size="lg" text="Por favor aguarde...")

            input.btn.btn-xs.btn-default.col-sm-2(
                type="button" 
                @click="add" 
                value="Submeter nova Entidade" 
                :disabled="!(designacao && sigla)"
            )
            div(v-html="message")
    //-

    

append scripts    
    script(src="/javascripts/entidades/adicao.vue")
    script(src="/javascripts/component-select-row-from-table.vue")