extends ../layout
block corpo
    #organizacao-form.panel.panel-default.panel-custom
        .panel-heading
            h1.page-header {{ myEntidade.designacao }}
        .panel-body
            .form-group
                table.consulta
                    //- NOME
                    tr 
                        td(style="width:10%")
                            .info-label Nome:
                        td(v-if="editDes" style="width:80")
                            input(
                                size="50"
                                v-model="newDes"
                                :placeholder="entDes"
                            )
                        td(v-else style="width:80%")
                            | {{ myEntidade.designacao }}
                        if user 
                            td(style="width:10%")
                                label(
                                    for="editDes"
                                    :class="[editDes ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']" 
                                )  
                                input(
                                    id="editDes"
                                    type="checkbox"
                                    v-model="editDes"
                                    class="drop-row"
                                )

                    //- Sigla
                    tr
                        td
                            .info-label Sigla: 
                        td(style="width:90%")
                            | {{ myEntidade.sigla }} 

                    //- Estado
                    tr
                        td
                            .info-label Estado: 
                        td(style="width:90%")
                            | {{ myEntidade.estado }}

                    //- Internacional
                    tr
                        td(style="width:10%")
                            .info-label Internacional:
                        td(v-if="editInternacional" style="width:80%")
                            select(
                                v-model="newInternacional"
                            )
                                option(
                                    value="Sim" 
                                )   Sim
                                option(
                                    selected
                                    value="Não"
                                )   Não
                        td(v-else style="width:80%")
                            | {{ myEntidade.internacional }}
                        if user
                            td(style="width:10%")
                                label(
                                    for="editInternacional"
                                    :class="[editInternacional ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']" 
                                )
                                input(
                                    id="editInternacional"
                                    type="checkbox"
                                    v-model="editInternacional"
                                    class="drop-row"
                                )

                    //- Tipologias
                    tr
                        td(style="width:10%")
                            .info-label Pertence às tipologias de Entidade:
                        td(v-if="editTipologia" style="width:80%")
                                table
                                    tr
                                        td(width="1000px")
                                            v-select.custom-select( 
                                                v-model="newTipologia"
                                                :options="tipoListaCompleta"
                                            )
                                        td
                                            input(
                                                type="button"
                                                @click="addTipo"
                                                value="+"
                                            )
                                    tr(v-if="newListaTipologias.length")
                                        td
                                            ul(style="padding-left:20px")
                                                li(v-for="(o,index) in newListaTipologias")
                                                    | {{ o.sigla }} - {{ o.designacao }}
                                                    button(
                                                        @click="newListaTipologias.splice(index,1)"
                                                    ) x
                        td(v-else style="width:90%")
                            ul(style="padding-left:20px")
                                li(v-for="o in listaTipologias")
                                    a(:href="'/tipologias/consultar/'+o.id") {{ o.sigla }} 
                                    | - {{ o.designacao }}
                        if user
                            td(style="width:10%")
                                    label(
                                        for="editTipologia"
                                        :class="[editTipologia ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                    )
                                    input(
                                        id="editTipologia"
                                        type="checkbox"
                                        v-model="editTipologia"
                                        class="drop-row"
                                    )
                    //- Intervenção nos PN
                    tr
                        td(style="width:10%")
                            .info-label Natureza de intervenção nos Processos de Negócio:
                        td(v-if="editDono" style="width:80%")
                            table
                                .col-sm
                                    label Como Dono:
                                .col-sm
                                tr
                                    td(width="1000px")
                                        v-select.custom-select(
                                            v-model="novaClasse"
                                            :options="listaClasses"
                                        )
                                    td
                                        input(
                                                type="button"
                                                @click="addDono"
                                                value="+"
                                            )
                                tr(v-if="novoDono.length")
                                    td
                                        ul(style="padding-left:20px")
                                            li(v-for="(c,index) in novoDono")
                                                | {{ c.codigo }} - {{ c.titulo }}
                                                button(
                                                    @click= "novoDono.splice(index,1)"
                                                ) x
                        td(v-else style="width:10%")
                            .col-sm
                                label Como Dono:
                            .col-sm
                                ul(v-if="eDonoProcessos" style="padding-left:50px" :class="{'is-collapsed' : domainCollapsed }")
                                    li(v-for="p in donoProcessos")
                                        a(:href="'/classes/c'+ p.codigo") {{ p.codigo }}
                                        | - {{ p.titulo }}
                                a(@click="domainCollapsed=!domainCollapsed" v-if="donoProcessos.length>6").maozinha
                                    span(v-if="domainCollapsed") Mostrar mais...
                                    span(v-else) Mostrar menos...
                        if user
                            td(style="width:10%")
                                label(
                                    for="editDono"
                                    :class="[editDono ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                )
                                input(
                                    id="editDono"
                                    type="checkbox"
                                    v-model="editDono"
                                    class="drop-row"
                                )

                            //- PARTICIPAÇÕES
                        tr
                            td(style="width:10%")
                                label Como Participante:
                            //- edição
                            td(v-if="editParts" style="width:80%")
                                table
                                    tr
                                        td(width="300px")
                                            v-select.custom-select(
                                                v-model="novoTipoPart"
                                                :options="partOptions"
                                            )
                                        td(width="700px")
                                            v-select.custom-select(
                                                v-model="novaPart"
                                                :options="listaClasses"
                                            )
                                        td
                                            input(
                                                type="button"
                                                @click="addPart"
                                                value="+"
                                            )
                                    tr
                                        td(colspan="3")
                                            ul(v-if="partsReady" style="padding-left:20px")
                                                li(v-for="key in Object.keys(newParticipations)" v-if="newParticipations[key].length")
                                                    b {{ participacoesDic[key] }}:
                                                    ul
                                                        li(v-for="(c, index) in newParticipations[key]")
                                                            | {{ c.label }}
                                                            button(
                                                                @click="newParticipations[key].splice(index,1)"
                                                            ) x
                            td(v-else style="width:80%")
                                ul(v-if="partsReady" style="padding-left:20px")
                                    li(v-for="key in Object.keys(participacoes)" v-if="participacoes[key].length>0")
                                        b  {{ participacoesDic[key] }}:
                                        ul(:class="{'is-collapsed' : partsCollapsed[key] }")
                                            li(v-for="p in participacoes[key]")
                                                a(:href="'/classes/'+p.id") {{ p.codigo }}
                                                |  - {{ p.titulo }}
                                        a(@click="partsCollapsed[key]=!partsCollapsed[key]" v-if="participacoes[key].length>6").maozinha
                                            span(v-if="partsCollapsed[key]") Mostrar mais...
                                            span(v-else) Mostrar menos...
                            if user
                                td(style="width:10%")
                                    label(
                                        for="editParts"
                                        :class="[editParts ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                    )
                                    input(
                                        id="editParts"
                                        type="checkbox"
                                        v-model="editParts"
                                        class="drop-row"
                                    )
                                
                            
                
            spinner(ref="spinner" fixed size="lg" text="Por favor aguarde...")

            if user
                input.btn.btn-xs.btn-default.col-sm-1(
                    type="button" 
                    @click="update" 
                    value="Submeter alteração" 
                    :disabled="!(editDes || editInternacional || editDono || editParts || editTipologia)"  
                )

append scripts    
    script(src="/javascripts/entidades/edicao.vue")