extends ../Templates/layout
block corpo
    #legislacao-form.panel.panel-default
        .panel-heading
            h1.page-header {{ legData.number.original }}  
        .panel-body
            .form-group
                table(v-if="ready")
                    tr(v-for="item in legData")
                        td(style="width:10%")
                            label {{ item.label }}: 
                        td(v-if="item.edit" style="width:80%")
                            input(
                                size="50"
                                v-model="item.new"
                                :placeholder="item.original"
                            )
                        td(v-else style="width:80%")
                            | {{ item.original }}  
                        td(style="width:10%")
                            label(style="padding-right:5px") Editar
                            input(
                                type="checkbox"
                                v-model="item.edit"
                            )

                h3(v-else) Loading...

            input.btn.btn-xs.btn-default.col-sm-1(
                type="button" 
                @click="update" 
                value="Confirmar" 
            )
            input.btn.btn-xs.btn-warning.col-sm-1(
                type="button" 
                @click="delReady" 
                value="Apagar" 
                :disabled="(editName || editInitials)"
            )
            p.col-sm-5 {{ message }}

            input.btn.btn-xs.btn-danger(
                v-if="delConfirm"
                type="button" 
                @click="deleteLeg" 
                value="OK" 
            )
            input.btn.btn-xs.btn-info(
                v-if="delConfirm"
                type="button" 
                @click="delNotReady" 
                value="<-" 
            )
    //-

    

append scripts    
    script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js")
    script(src="/Scripts/Legs/consulta.vue")