extends ../layout
block corpo
    #nova-entidade-form.panel.panel-default.panel-custom
        .panel-heading
            h1.page-header Nova Tipologia
        .panel-body
            .form-group 
                table
                    //- Nome/designação
                    tr
                        td(style="width:10%")
                            label Nome: 
                        td(style="width:80%")
                            input(
                                size="70"
                                v-model="tipologia.des"
                            )
                    //- Sigla        
                    tr
                        td(style="padding-top:10px")
                            label Sigla: 
                        td
                            input(
                                size="70"
                                v-model="tipologia.sigla"
                            )

                    //- Entidades
                    tr(style="padding-bottom:30px")
                        td(style="width: 10%")
                            label Elementos:

                        td
                            accordion
                                panel(type="white" header="Selecionar Entidades")
                                    custom-table-select(
                                        v-if="entReady"

                                        :header="entTableHeader"
                                        :complete-rows="ent"
                                        :ready="entReady"
                                        :cwidth="entTableWidth"
                                        
                                        class-table='table table-condensed'

                                        @select-clicked="entSelected($event,entidades)"
                                    )
                                    h4(
                                        v-else
                                    ) A carregar...

            spinner(ref="spinner" fixed size="lg" text="Por favor aguarde...")

            input.btn.btn-xs.btn-default.col-sm-2(
                type="button" 
                @click="add" 
                value="Adicionar" 
                :disabled="!(tipologia.des && tipologia.sigla)"
            )
            p.col-sm-7 {{ message }}
    //-

    

append scripts    
    script(src="/javascripts/tipologias/adicao.vue")