extends ../layout
block corpo
    #nova-tipologia-form.panel.panel-default.panel-custom
        .panel-heading
            h1.page-header Nova Tipologia
        .panel-body
            .form-group 
                table.consulta(style="border-color: white; border-style:solid; margin-bottom:20px")
                    //- Designação
                    tr
                        td(style="width:10%")
                            .info-label Designação:    
                        td(style="width:80%")
                            input(
                                size="50"
                                v-model="tipologia.designacao"
                                maxlength="50"
                            )
                    //- Sigla        
                    tr
                        td(style="width:10%")
                            .info-label Sigla:    
                        td(style="width:80%")
                            input(
                                size="50"
                                v-model="tipologia.sigla"
                                maxlength="10"
                            )

                    //- Entidades
                    tr(style="padding-bottom:30px")
                        td(style="width: 10%")
                            .info-label Entidades:

                        td
                            .col-sm-10
                                .row(v-if="entidades.length > 0")
                                    table.table.table-condensed.table-hover
                                        tr
                                            th Sigla 
                                            th Designação
                                            th Ação
                                        tr(v-for="(p, index) in entidades")
                                            td {{p.data[0]}}
                                            td {{p.data[1]}}
                                            td 
                                                button.btn.btn-default(type="button")
                                                    span.glyphicon.glyphicon-remove(@click="desselecionarEntidade(p, index)") 


                                accordion
                                    panel(type="white" header="Selecionar Entidades")
                                        select-row-from-table(
                                            v-if="entReady"

                                            :header="entTableHeader"
                                            :complete-rows="ent"
                                            :ready="entReady"
                                            :cwidth="entTableWidth"
                                            
                                            class-table='table table-condensed'

                                            @select-clicked="selecionarEntidade($event)"
                                        )
                                        h4(
                                            v-else
                                        ) A carregar...

            spinner(ref="spinner" fixed size="lg" text="Por favor aguarde...")

            input.btn.btn-xs.btn-default.col-sm-2(
                type="button" 
                @click="add" 
                value="Submeter nova Tipologia" 
                :disabled="!(tipologia.designacao && tipologia.sigla)"
            )
            div(v-html="message")
    //-

    

append scripts    
    script(src="/javascripts/tipologias/adicao.vue")
    script(src="/javascripts/component-select-row-from-table.vue")