extends ../layout
block corpo
    #editTipologia-form.panel.panel-default.panel-custom
        .panel-heading
            h1.page-header {{ tipNome }}  
        .panel-body
            .form-group
                table.consulta(style="border-color: white; border-style:solid; margin-bottom:20px")
                    //- NOME
                    tr
                        td(style="width:10%")
                            .info-label Designação: 
                        td(v-if="editNome" style="width:80%")
                            input(
                                size="50"
                                v-model="newNome"
                                :placeholder="tipNome"
                                maxlength="50"
                            )
                        td(v-else style="width:80%")
                            | {{ tipNome }}  

                        if user
                            td(style="width:10%")
                                label(
                                    for="editNome"
                                    :class="[editNome ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']" 
                                ) 
                                input(
                                    id="editNome"
                                    type="checkbox"
                                    v-model="editNome"
                                    class="drop-row"
                                )
                    
                    //- SIGLA
                    tr
                        td(style="width:10%")
                            .info-label Sigla:
                        td(v-if="editSigla" style="width:80%")
                            input(
                                size="50"
                                v-model="newSigla"
                                :placeholder="tipSigla"
                                maxlength="10"
                            )  
                        td(v-else style="width:80%")
                            | {{ tipSigla }} 

                        if user
                            td(style="width:10%")
                                label(
                                    for="editSigla"
                                    :class="[editSigla ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']" 
                                ) 
                                input(
                                    id="editSigla"
                                    type="checkbox"
                                    v-model="editSigla"
                                    class="drop-row"
                                )

                    //- DOMINIO
                    tr
                        td(style="width:10%")
                            .info-label Dono de:
                        //- edição
                        td(v-if="editDominio" style="width:80%")
                            table
                                tr
                                    td(width="1000px")
                                        v-select.custom-select(
                                            v-model="newClasse"
                                            :options="listaClasses"
                                        )
                                    td
                                        input(
                                            type="button"
                                            @click="addClasse"
                                            value="+"
                                        )
                                tr(v-if="newDominio.length")
                                    td(colspan="2")
                                        ul(style="padding-left:20px")
                                            li(v-for="(c,index) in newDominio")
                                                | {{ c.codigo }} - {{ c.titulo }}
                                                button(
                                                    @click="newDominio.splice(index,1)"
                                                ) x
                        td(v-else style="width:80%")
                            ul(v-if="dominioReady" style="padding-left:20px" :class="{'is-collapsed' : domainCollapsed }")
                                li(v-for="c in dominio")
                                    a(:href="'/classes/'+c.id") {{ c.codigo }}
                                    |  - {{ c.titulo }}
                            a(@click="domainCollapsed=!domainCollapsed" v-if="dominio.length>6").maozinha
                                span(v-if="domainCollapsed") Mostrar mais...
                                span(v-else) Mostrar menos...
                        if user
                            td(style="width:10%")
                                label(
                                    for="editDominio"
                                    :class="[editDominio ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                )
                                input(
                                    id="editDominio"
                                    type="checkbox"
                                    v-model="editDominio"
                                    class="drop-row"
                                )

                    //- PARTICIPAÇÕES
                    tr
                        td(style="width:10%")
                            .info-label Tipo de Participação:    
                        //- edição
                        td(v-if="editParts" style="width:80%")
                            table
                                tr
                                    td(width="300px")
                                        v-select.custom-select(
                                            v-model="newTipoPart"
                                            :options="partOptions"
                                        )
                                    td(width="700px")
                                        v-select.custom-select(
                                            v-model="newPart"
                                            :options="listaClasses"
                                        )
                                    td
                                        input(
                                            type="button"
                                            @click="addPart"
                                            value= "+"
                                        ) 
                                tr
                                    td(colspan="3")
                                        ul(v-if="partsReady" style="padding-left:20px")
                                            li(v-for="key in Object.keys(newParticipacoes)" v-if="newParticipacoes[key].length>0")
                                                b {{ participacoesDic[key] }}:
                                                ul
                                                    li(v-for="(p, index) in newParticipacoes[key]")
                                                        | {{ p.codigo }} - {{ p.titulo }}
                                                        button(
                                                            @click="newParticipacoes[key].splice(index,1)"
                                                        ) x
                        td(v-else style="width:80%")
                            ul(v-if="partsReady" style="padding-left:20px")
                                li(v-for="key in Object.keys(participacoes)" v-if="participacoes[key].length>0")
                                    b  {{ participacoesDic[key] }}:
                                    ul(:class="{'is-collapsed' : partsCollapsed[key] }")
                                        li(v-for="p in participacoes[key]")
                                            a(:href="'/classes/'+p.id") {{ p.codigo }}
                                            |  - {{ p.titulo }}
                                    a(@click="partsCollapsed[key]=!partsCollapsed[key]" v-if="participacoes[key].length>6").maozinha
                                        span(v-if="partsCollapsed[key]") Mostrar mais...
                                        span(v-else) Mostrar menos...
                        if user
                            td(style="width:10%")
                                label(
                                    for="editParts"
                                    :class="[editParts ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                )
                                input(
                                    id="editParts"
                                    type="checkbox"
                                    v-model="editParts"
                                    class="drop-row"
                                )


                    //- ENTIDADES
                    tr
                        td(style="width:10%")
                            .info-label Entidades:
                        td(v-if="editEnts" style="width:80%")
                            .col-sm-10
                                .row(v-if="entidadesSelecionadas.length > 0")
                                    table.table.table-condensed.table-hover
                                        tr
                                            th Sigla 
                                            th Designação
                                            th Ação
                                        tr(v-for="(p, index) in entidadesSelecionadas")
                                            td {{p.data[0]}}
                                            td {{p.data[1]}}
                                            td 
                                                button.btn.btn-default(type="button")
                                                    span.glyphicon.glyphicon-remove(@click="desselecionarEntidade(p, index)") 
                            
                                accordion
                                    panel(type="white" header="Selecionar Entidades")
                                        select-row-from-table(
                                            v-if="entidadesReady"

                                            :header="orgsTableHeader"
                                            :complete-rows="entList"
                                            :ready="entidadesReady"
                                            :cwidth="orgsTableWidth"
                                            
                                            class-table='table table-condensed'

                                            @select-clicked="selecionarEntidade($event)"
                                        )
                                        h4(
                                            v-else
                                        ) A carregar...


                            //-table
                                tr
                                    td
                                        v-select.custom-select( 
                                            v-model="newElem"
                                            :options="entList"
                                        )
                                    td
                                        input(
                                            type="button"
                                            @click="addEntidade"
                                            value="+"
                                        )
                                tr(v-if="newEntsList.length")
                                    td(colspan="2")
                                        ul(style="padding-left:20px")
                                            li(v-for="(o,index) in newEntsList")
                                                | {{ o.sigla }} - {{ o.designacao }}   
                                                button(
                                                    @click="newEntsList.splice(index,1)"
                                                ) x
                        td(v-else style="width:80%")
                            ul(style="padding-left:20px")
                                li(v-for="o in listaEntidades")
                                    a(:href="'/entidades/'+o.id") {{ o.sigla }} 
                                    | - {{ o.designacao }}
                        if user
                            td(style="width:10%")
                                label(
                                    for="editEnts"
                                    :class="[editEnts ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                )
                                input(
                                    id="editEnts"
                                    type="checkbox"
                                    v-model="editEnts"
                                    class="drop-row"
                                )



            spinner(ref="spinner" fixed size="lg" text="Por favor aguarde...")            

            table
                if user
                    tr
                        td(width="300px")
                            input.btn.btn-xs.btn-default.col-sm-7(
                                type="button" 
                                @click="update" 
                                value="Submeter alteração" 
                                :disabled="!((editNome && newNome ||\
                                    editSigla && newSigla ||\
                                    editDominio || editParts || editEnts))"
                            )
                        td(width="250px")
                            input.btn.btn-xs.btn-warning.col-sm-7(
                                type="button" 
                                @click="delConfirm=true" 
                                value="Apagar" 
                                :disabled="(editNome || editDominio || editParts || editEnts)"
                            )
                            p.col-sm-5 

                            modal(
                                title="Confirmar" 
                                :value="delConfirm"
                                @closed="delConfirm=false"

                                small
                            ) 
                                .modal-body(slot="modal-body")
                                    center Tem a certeza que deseja apagar?
                                .modal-footer(slot="modal-footer")
                                    button(@click="deleteTipologia" style="margin-right:7px") Ok
                                    button(@click="delConfirm=false") Cancelar

    //-

append scripts    
    script(src="/javascripts/tipologias/edicao.vue")
    script(src="/javascripts/component-select-row-from-table.vue")