extends ../Templates/layout
block corpo
    h1.page-header Nova Tabela de Seleção
    #selecao
        .row
            table
                tr
                    td(style="width:10%")
                        label Designação: 
                    td(style="width:80%")
                        input(
                            size="70"
                            v-model="name"
                        )
        br

        .row
            custom-table-waterfall(
                v-if="ready"

                pages-on="true"
                select-on="true"

                :header="tableHeader"
                :complete-rows="tableData"
                :cwidth="cwidth"
                :n-edits="nEdits"
                
                table-class='table table-hover'
                
                @row-clicked="rowClicked($event)"
                @drop-clicked="dropClicked($event)"
                @select-clicked="selectClicked($event)"
            )
            h4(
                v-else
            ) Loading...

        .row
            button(
                @click="createSelTab"
            ) OK
            
    //-
append scripts    
    //-script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js")
    script(src="/Scripts/TabsSel/adicao.vue")