extends ../layout
block corpo
    #profile.panel.panel-default.panel-custom
        .panel-heading
            h1.page-header #{utilizador.name}
        .panel-body
            .form-group
                table.consulta(width="100%")
                    //-NOME
                    tr
                        td
                            .info-label Nome: 
                        td(style="width:80%")
                            | #{utilizador.name}
                    //-EMAIL
                    tr
                        td
                            .info-label Email: 
                        td(style="width:80%")
                            | #{utilizador.email}
                    //-NIVEL
                    tr
                        td
                            .info-label Nível: 
                        td(v-if="edit.Level" style="width:80%")
                            select.form-control#type(v-model="selected")
                                option Administrador de Perfil Tecnológico
                                option Administrador de Perfil Funcional
                                option Utilizador Validador
                                option Utilizador Avançado
                                option Utilizador Decisor
                                option Utilizador Simples
                                option Representante Entidade
                        td(v-else style="width:80%")
                            case utilizador.level
                                when 7
                                    | Administrador de Perfil Tecnológico
                                when 6
                                    | Administrador de Perfil Funcional
                                when 5
                                    | Utilizador Validador
                                when 4
                                    | Utilizador Avançado
                                when 3
                                    | Utilizador Decisor
                                when 2
                                    | Utilizador Simples
                                when 1
                                    | Representante Entidade
                                when -1
                                    | Utilizador desativado
                        td
                            label(
                                    for="edit.Level"
                                    :class="[edit.Level ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']" 
                                ) 
                            input(
                                    id="edit.Level"
                                    type="checkbox"
                                    v-model="edit.Level"
                                    class="drop-row"
                                )
                input.btn.btn-block.btn-default.col-sm-1(
                    @click="update"
                    type="submit" 
                    onclick='window.location.href = "/users";'
                    value="Confirmar" 
                 )

append scripts    
    script(src="/javascripts/users/editar.vue")