extends ../layout
block corpo
    #nova-legislacao-form.panel.panel-default
        .panel-heading
            h3.page-header Novo Diploma
        .panel-body
            .form-group
                table.consulta(style="border-color: white; border-style:solid; margin-bottom:20px")
                    
                    //- TÍTULO
                    tr
                        td(style="width: 10%")
                            .info-label Título: 
                        td(style="width:80%")
                            input(
                                size="50"
                                v-model="diploma.Titulo"
                            )
                    
                    //- Tipo
                    tr
                        td(style="width: 10%")
                            .info-label Tipo: 
                        td(style="width:80%")
                            input(
                                size="50"
                                v-model="diploma.Tipo"
                            )
                    
                    //- Número
                    tr
                        td(style="width: 10%")
                            .info-label Número: 
                        td(style="width:80%")
                            input(
                                size="50"
                                v-model="diploma.Numero"
                                pattern="[0-9]+(\-\w)?/[0-9]+"
                            )
                    
                    //- Data
                    tr
                        td(style="width: 10%")
                            .info-label Data: 
                        td(style="width:80%")
                            datepicker(
                                value=""
                                @input="dataEscolhida($event)"
                                format="yyyy/MM/dd"
                                placeholder="AAAA/MM/DD"
                            )
                    
                    //- Link
                    tr
                        td(style="width: 10%")
                            .info-label Link: 
                        td(style="width:80%")
                            input(
                                size="50"
                                v-model="diploma.Link"
                            )

            spinner(ref="spinner" size="lg" fixed text="Por favor aguarde...")
            input.btn.btn-xs.btn-default.col-sm-1(
                type="button" 
                @click="add" 
                value="Confirmar" 
                :disabled="!readyToCreate()"

                style="margin-right:10px"
            )
            div(v-html="message")

    //-
    

append scripts    
    script(src="/javascripts/leg/adicao.vue")