extends ../layout
block corpo
    #legislacao-form.panel.panel-default
        .panel-heading
            h1.page-header {{ legData.type.original }} {{ legData.number.original }}  
        .panel-body
            .form-group
                table(v-if="ready").consulta
                    tr(v-for="item in legData")
                        td(style="width:12%")
                            label {{ item.label }}: 
                        td(v-if="item.edit" style="width:80%")
                            input(
                                size="50"
                                v-model="item.new"
                                :placeholder="item.original"
                            )
                        td(v-else style="width:80%")
                            span(v-if="item.label!='Link'") {{ item.original }}  
                            a(v-else :href="item.original" target="_blank") Ficheiro
                        
                        if user
                            td
                                label(style="padding-right:5px") Editar
                                input(
                                    type="checkbox"
                                    v-model="item.edit"
                                )

                    //- PROCESSOS
                    tr
                        td(style="width:10%")
                            label Processos Regulamentados:
                        //- edição
                        td(v-if="editProcesses" style="width:80%")
                            table
                                tr
                                    td(width="60%")
                                        v-select.custom-select(
                                            v-model="newProcess"
                                            :options="classList"
                                        )
                                    td
                                        button(
                                            @click="newProcesses.unshift(newProcess.value)"
                                        ) +
                                tr(v-if="newProcesses.length")
                                    td(colspan="2")
                                        ul(style="padding-left:20px")
                                            li(v-for="(c,index) in newProcesses")
                                                | {{ c.Code }} - {{ c.Title }}
                                                button(
                                                    @click="newProcesses.splice(index,1)"
                                                ) x
                        td(v-else style="width:80%")
                            ul(v-if="processesReady" style="padding-left:20px" :class="{'is-collapsed' : processesCollapsed }")
                                li(v-for="c in processes")
                                    a(:href="'/classes/consultar/'+c.id") {{ c.Code }}
                                    |  - {{ c.Title }}
                            button(@click="processesCollapsed=!processesCollapsed" v-if="processes.length>4")
                                span(v-if="processesCollapsed") Mostrar mais...
                                span(v-else) Mostrar menos...
                        td(style="width:10%")
                            label(style="padding-right:5px") Editar (NYI)
                            input(
                                type="checkbox"
                                v-model="editProcesses"
                            )
                h3(v-else) Loading...

            if user
                input.btn.btn-xs.btn-default.col-sm-1(
                    type="button" 
                    @click="update" 
                    value="Confirmar" 
                    :disabled="!(\
                        legData.year.edit && legData.year.new ||\
                        legData.date.edit && legData.date.new ||\
                        legData.number.edit && legData.number.new ||\
                        legData.type.edit && legData.type.new ||\
                        legData.title.edit && legData.title.new ||\
                        legData.link.edit && legData.link.new \
                    )"
                )
                input.btn.btn-xs.btn-warning.col-sm-1(
                    type="button" 
                    @click="delReady" 
                    value="Apagar" 
                    :disabled="(\
                        legData.year.edit && legData.year.new ||\
                        legData.date.edit && legData.date.new ||\
                        legData.number.edit && legData.number.new ||\
                        legData.type.edit && legData.type.new ||\
                        legData.title.edit && legData.title.new ||\
                        legData.link.edit && legData.link.new \
                    )"
                )
                p.col-sm-5 {{ message }}

                input.btn.btn-xs.btn-danger(
                    v-if="delConfirm"
                    type="button" 
                    @click="deleteLeg" 
                    value="OK" 
                )
                input.btn.btn-xs.btn-info(
                    v-if="delConfirm"
                    type="button" 
                    @click="delNotReady" 
                    value="<-" 
                )
    //-

    

append scripts 
    script(src="/javascripts/leg/consulta.vue")