extends ../layout
block corpo
    #legislacao-form.panel.panel-default.panel-custom
        .panel-heading
            h1.page-header {{ legData.tipo.original }} {{ legData.numero.original }}
        .panel-body
            .form-group
                table(v-if="ready").consulta(style="border-color: white; border-style:solid; margin-bottom:20px")

                    //- TÍTULO
                    tr
                        td(style="width:10%")
                            .info-label {{ legData.sumario.label }}:
                        td(v-if="legData.sumario.edit" style="width:80%")
                            input(
                                size="150"
                                v-model="legData.sumario.new"
                                :placeholder="legData.sumario.original"
                            )
                        td(v-else style="width:80%")
                            | {{ legData.sumario.original }}

                        if user
                            td(style="width:10%")
                                label(
                                    for="legData.sumario.edit"
                                    :class="[legData.sumario.edit ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                )
                                input(
                                    id="legData.sumario.edit"
                                    type="checkbox"
                                    v-model="legData.sumario.edit"
                                    class="drop-row"
                                )


                    //- Tipo
                    tr
                        td(style="width:12%")
                            .info-label {{ legData.tipo.label }}:
                        td(v-if="legData.tipo.edit" style="width:80%")
                            select(v-model="legData.tipo.new")
                                    option(v-for="t in tipoDiploma" :value="t") {{ t.termo }}
                                    
                        td(v-else style="width:80%")
                            | {{ legData.tipo.original }}

                        if user
                            td(style="width:10%")
                                label(
                                    for="legData.tipo.edit"
                                    :class="[legData.tipo.edit ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                )
                                input(
                                    id="legData.tipo.edit"
                                    type="checkbox"
                                    v-model="legData.tipo.edit"
                                    class="drop-row"
                                )
                                

                    //- Número
                    tr
                        td(style="width:12%")
                            .info-label {{ legData.numero.label }}:
                        td(v-if="legData.numero.edit" style="width:80%")
                            input(
                                size="50"
                                v-model="legData.numero.new"
                                :placeholder="legData.numero.original"
                                maxlength="11"
                            )
                        td(v-else style="width:80%")
                            | {{ legData.numero.original }}

                        if user
                            td(style="width:10%")
                                label(
                                    for="legData.numero.edit"
                                    :class="[legData.numero.edit ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                )
                                input(
                                    id="legData.numero.edit"
                                    type="checkbox"
                                    v-model="legData.numero.edit"
                                    class="drop-row"
                                )

                    //- Entidades
                    tr
                        td(style="width:12%")
                            .info-label Entidade(s):
                        td(v-if="legData.entidades.edit" style="width:80%")
                            .col-sm-10
                                .row(v-if="entidadesSelecionadas.length > 0")
                                    table.table.table-condensed.table-hover
                                        tr
                                            th Sigla 
                                            th Designação
                                            th Ação
                                        tr(v-for="(p, index) in entidadesSelecionadas")
                                            td {{p.data[0]}}
                                            td {{p.data[1]}}
                                            td 
                                                button.btn.btn-default(type="button")
                                                    span.glyphicon.glyphicon-remove(@click="desselecionarEntidade(p, index)") 
                            
                                accordion
                                    panel(type="white" header="Selecionar Entidades")
                                        select-row-from-table(
                                            v-if="entidadesReady"

                                            :header="orgsTableHeader"
                                            :complete-rows="entidades"
                                            :ready="entidadesReady"
                                            :cwidth="orgsTableWidth"
                                            
                                            class-table='table table-condensed'

                                            @select-clicked="selecionarEntidade($event)"
                                        )
                                        h4(
                                            v-else
                                        ) A carregar...
                                        
                        td(v-else style="width:80%")
                            ul
                                li(v-for="entidade in leg.entidades")
                                    a(:href="'/entidades/ent_'+entidade") {{ entidade }}

                        if user
                            td(style="width:10%")
                                label(
                                    for="legData.entidades.edit"
                                    :class="[legData.entidades.edit ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                )
                                input(
                                    id="legData.entidades.edit"
                                    type="checkbox"
                                    v-model="legData.entidades.edit"
                                    class="drop-row"
                                )

                    //- Data
                    tr
                        td(style="width:12%")
                            .info-label {{ legData.data.label }}:
                        td(v-if="legData.data.edit" style="width:80%") 
                            datepicker(
                                value=""
                                @input="dataEscolhida($event)"
                                format="dd/MM/yyyy"
                                :placeholder="legData.data.original"
                            )
                        td(v-else style="width:80%")
                            | {{ legData.data.original }}

                        if user
                            td(style="width:10%")
                                label(
                                    for="legData.data.edit"
                                    :class="[legData.data.edit ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                )
                                input(
                                    id="legData.data.edit"
                                    type="checkbox"
                                    v-model="legData.data.edit"
                                    class="drop-row"
                                )

                    //- Link
                    tr
                        td(style="width:12%")
                            .info-label {{ legData.link.label }}:
                        td(v-if="legData.link.edit" style="width:80%")
                            input(
                                size="50"
                                v-model="legData.link.new"
                                :placeholder="legData.link.original"
                            )
                        td(v-else style="width:80%")
                            a(:href="legData.link.original" target="_blank") Ficheiro

                        if user
                            td(style="width:10%")
                                label(
                                    for="legData.link.edit"
                                    :class="[legData.link.edit ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                )
                                input(
                                    id="legData.link.edit"
                                    type="checkbox"
                                    v-model="legData.link.edit"
                                    class="drop-row"
                                )

                    //- PROCESSOS
                    tr
                        td(style="width:10%")
                            .info-label Processos Regulamentados:
                        td(v-if="legData.processos.edit" style="width:80%")
                            table
                                tr
                                    td(width="1000px")
                                        v-select.custom-select(
                                            v-if="processosReady"
                                            v-model="newProcesso"
                                            :options="listaClasses"
                                        )
                                    td
                                        input(
                                            type="button"
                                            @click="addProcesso"
                                            value="+"
                                        ) 
                                tr(v-if="legData.processos.new.length")
                                    td
                                        ul(style="padding-left:20px")
                                            li(v-for="(c,index) in legData.processos.new")
                                                | {{ c.codigo }} - {{ c.titulo }}  
                                                button(
                                                    @click="legData.processos.new.splice(index,1)"
                                                ) x
                        td(v-else style="width:80%")
                            ul(v-if="processosReady" style="padding-left:20px" :class="{'is-collapsed' : processosCollapsed }")
                                li(v-for="c in legData.processos.original")
                                    a(:href="'/classes/'+c.id") {{ c.codigo }}
                                    |  - {{ c.titulo }}
                            a(@click="processosCollapsed=!processosCollapsed" v-if="legData.processos.original.length>6").maozinha
                                span(v-if="processosCollapsed") Mostrar mais...
                                span(v-else) Mostrar menos...                   
                        td(style="width:10%")
                            label(
                                for="legData.processos.edit"
                                :class="[legData.processos.edit ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                            )
                            input(
                                id="legData.processos.edit"
                                type="checkbox"
                                v-model="legData.processos.edit"
                                class="drop-row"
                            )
                h3(v-else) A carregar...

            spinner(ref="spinner" fixed size="lg" text="Por favor aguarde...")

            table
                if user
                    tr
                        td(width="300px")
                            input.btn.btn-xs.btn-default.col-sm-7(
                                type="button"
                                @click="update"
                                value="Submeter alteração"
                                :disabled="!(\
                                    legData.data.edit && legData.data.new ||\
                                    legData.numero.edit && legData.numero.new ||\
                                    legData.tipo.edit && legData.tipo.new ||\
                                    legData.sumario.edit && legData.sumario.new ||\
                                    legData.link.edit && legData.link.new ||\
                                    legData.entidades.edit ||\
                                    legData.processos.edit\
                                )"
                            )
                        td(width="250px")
                            input.btn.btn-xs.btn-warning.col-sm-7(
                                type="button"
                                @click="delConfirm=true"
                                value="Apagar"
                                :disabled="(\
                                    legData.data.edit && legData.data.new ||\
                                    legData.numero.edit && legData.numero.new ||\
                                    legData.tipo.edit && legData.tipo.new ||\
                                    legData.sumario.edit && legData.sumario.new ||\
                                    legData.link.edit && legData.link.new ||\
                                    legData.entidades.edit ||\
                                    legData.processos.edit\
                                )"
                            )
                            p.col-sm-5

                            modal(
                                title="Confirmar" 
                                :value="delConfirm"
                                @closed="delConfirm=false"

                                small
                            ) 
                                .modal-body(slot="modal-body")
                                    center Tem a certeza que deseja apagar?
                                .modal-footer(slot="modal-footer")
                                    button(@click="apagarLeg" style="margin-right:7px") Ok
                                    button(@click="delConfirm=false") Cancelar

                        //-«    input.btn.btn-xs.btn-danger(
                                v-if="delConfirm"
                                type="button"
                                @click="deleteLeg"
                                value="OK"
                            )
                            input.btn.btn-xs.btn-info(
                                v-if="delConfirm"
                                type="button"
                                @click="delNotReady"
                                value="<-"
                            )



append scripts
    script(src="/javascripts/leg/edicao.vue")
    script(src="/javascripts/component-select-row-from-table.vue")