extend ../layout
block corpo
    #novo-termo-indice.panel.panel-defaul.panel-custom
        .panel-heading
            h1.page-header Novo Termo de Índice
        .panel-body
            .form-group
                table.consulta(style="border-color: white; border-style:solid; margin-bottom:20px")
                    
                    //- Termo
                    tr
                        td(style="width:10%")
                            .info-label Termo: 
                        td(style="width:80%")
                            input(
                                size="70"
                                v-model="termo"
                            )

                    //- Classe associada
                    tr
                        td(style="width:10%")
                            .info-label Classe associada:
                        td(style="width:80%")
                            table
                                tr
                                    td(width="1000px")
                                        v-select.custom-select(
                                            v-model="newClasse"
                                            :options="listaClasses"
                                        )
                                    td
                                        input(
                                            type="button"
                                            @click="addclasse"
                                            value="+"
                                        )
                                tr(v-if="addClasse")
                                    td {{ idClasse }} - {{ tituloClasse }}       
                                                input(
                                                    type= "button"
                                                    @click= "deleteClasse"
                                                    value= "x"
                                                ) 


            spinner(ref="spinner" fixed size="lg" text="Por favor aguarde...")

            input.btn.btn-xs.btn-default.col-sm-2(
                type="button" 
                @click="add" 
                value="Submeter novo Termo de Índice" 
                :disabled="!(termo)"
            )

append scripts    
    script(src="/javascripts/termosIndice/adicao.vue")