extends ../layout
block lateral
    ul#sideNav
        li(v-for="l in sideNav")
            a(:href="l.anchor") {{ l.label }}

block corpo
    #nova-classe-form.panel.panel-default.panel-custom
        .panel-heading
            h1.page-header Nova Classe 
        .panel-body
            form
                a(name="nivel")
                .form-group.row
                    label.col-sm-2.col-form-label Nível: 
                    select-value-from-list(
                        :options = "classeNiveis"
                        @value-change="classe.nivel = $event"
                    ) 

                //- CLASSE PAI
                a(name="pai")
                .form-group.row(v-if="classe.nivel>1")
                    label.col-sm-2.col-form-label Classe Pai: 
                    select-value-from-list(
                        :options = "classesPai"
                        @value-change="classe.pai = $event"
                    )

                //- CÓDIGO
                a(name="codigo")
                .form-group.row
                    label.col-sm-2.col-form-label Código: 
                    input(
                        size="70"
                        v-model="classe.codigo"
                    ) 
                    span(style="color: red") {{ mensValCodigo }}
                            
                //- TÍTULO
                a(name="titulo")
                .form-group.row
                    label.col-sm-2.col-form-label Título: 
                    input(
                        size="70"
                        v-model="classe.titulo"
                    )

            .panel.panel-default(v-if="classe.codigo")
                .panel-heading
                    h4 Descritivo da Classe
                .panel-body
                    a(name="descricao")
                    //- DESCRIÇÃO
                    .form-group.row
                        label.col-sm-2.col-form-label Descrição: 
                        textarea(
                            cols="72"
                            lines="5"
                            v-model="classe.descricao"
                        ) 
                        hr  
                    //- NOTAS DE APLICAçÃO                        
                    a(name="notasA")
                    .form-group.row
                        label.col-sm-2.col-form-label Nota(s) de Aplicação: 
                        .form-group.row.col-sm-10
                            .form-group.row(v-for="(nota, index) in classe.notasAp")
                                div Identificador gerado: {{nota.id}}
                                textarea(
                                    cols="72"
                                    lines="5"
                                    v-model="classe.notasAp[index].conteudo"
                                )
                                span.glyphicon.glyphicon-remove(@click="classe.notasAp.splice(index,1)")
                        .col-sm-10(v-if="classe.codigo")
                            button(@click="classe.notasAp.push({id: 'na_' + classe.codigo + '_' + (classe.notasAp.length + 1).toString(),conteudo:''})") Nova nota
                        .col-sm-10(v-else)
                            div Para criar notas de aplicação o código da classe tem de estar definido.
                        hr 
                    //- EXEMPLOS DE NOTAS DE APLICAçÃO                        
                    a(name="exemplos")
                    .form-group.row
                        label.col-sm-2.col-form-label Exemplo(s) de Nota(s) de Aplicação: 
                        .form-group.row.col-sm-10
                            .form-group.row(v-for="(exemplo, index) in classe.exemplosNotasAp")
                                textarea(
                                    cols="72"
                                    lines="5"
                                    v-model="classe.exemplosNotasAp[index]"
                                )
                                span.glyphicon.glyphicon-remove.pl-5(@click="classe.exemplosNotasAp.splice(index,1)")
                        .col-sm-10
                            button(@click="classe.exemplosNotasAp.push('')") Novo exemplo
                        hr
                    //- NOTAS DE EXCLUSÃO                        
                    a(name="notasE")
                    .form-group.row
                        label.col-sm-2.col-form-label Nota(s) de Exclusão: 
                        .form-group.row.col-sm-10
                            .form-group.row(v-for="(nota, index) in classe.notasEx")
                                textarea(
                                    cols="72"
                                    lines="5"
                                    v-model="classe.notasEx[index].conteudo"
                                )
                                span.glyphicon.glyphicon-remove.pl-5(@click="classe.notasEx.splice(index,1)")
                        .col-sm-10
                            button(@click="classe.notasEx.push({id:'', conteudo:''})") Nova nota
                        hr
                    //- TERMOS DE ÍNDICE
                    a(name="termosI")
                    .form-group.row
                        label.col-sm-2.col-form-label Termos de Índice: 
                        .col-sm-10
                            .form-group.row(v-for="(ti, index) in classe.termosInd")
                                div Identificador gerado: {{ti.id}}
                                input(
                                    size="70    "
                                    v-model="ti.termo"
                                    @change="ti.existe = validaTI(ti.termo); alert(ti.existe)"
                                )
                                span(style="color:red" v-if="ti.existe") {{mensValTermoIndice}}
                                span.glyphicon.glyphicon-remove.pl-5(@click="classe.termosInd.splice(index,1)")
                        .col-sm-10(v-if="classe.codigo")
                            button(@click="classe.termosInd.push({id: 'ti_' + classe.codigo + '_' + (classe.termosInd.length + 1).toString(), termo:'', existe: false})") Novo termo
                        .col-sm-10(v-else)
                            div Para criar termos o código da classe tem de estar definido.
                    hr

            .panel.panel-default(v-if="classe.nivel >= 3")
                .panel-heading
                    h4 Contexto de Avaliação
                .panel-body
                    //- TIPO DE PROCESSO
                    a(name="tipoTrans")
                    .form-group.row
                        label.col-sm-2.col-form-label Tipo de Processo: 
                        .col-sm-10
                            .form-check.form-check-inline
                                input.form-check-input(type="radio" id="pc" value="PC" v-model="classe.tipoProc")
                                label.form-check-label(for="pc") Processo Comum
                            .form-check.form-check-inline
                                input.form-check-input(type="radio" id="pe" value="PE" v-model="classe.tipoProc")
                                label.form-check-label(for="pe") Processo Específico

                    //- PROCESSO TRANVERSAL
                    a(name="tipoTrans")
                    .form-group.row
                        label.col-sm-2.col-form-label Processo Transversal: 
                        .col-sm-10
                            .form-check.form-check-inline
                                input.form-check-input(type="radio" id="pt_s" value="S" v-model="classe.procTrans")
                                label.form-check-label(for="pt_s") Sim
                            .form-check.form-check-inline
                                input.form-check-input(type="radio" id="pt_n" value="N" v-model="classe.procTrans")
                                label.form-check-label(for="pt_n") Não

                    hr

                    //- DONOS
                    a(name="donos")
                    .form-group.row
                        label.col-sm-2.col-form-label Donos: 
                        .col-sm-10
                            custom-table-select(
                                v-if="semaforos.entidadesReady"

                                :header="estilo.entidadesTableHeader"
                                :complete-rows="entidadesD"
                                :ready="semaforos.entidadesReady"
                                :cwidth="estilo.entidadesTableWidth"
                                        
                                class-table='table table-condensed'

                                @select-clicked="selecionarDono($event)"
                            )
                            h4(v-else) A carregar...
                    hr

                    //- PARTICIPANTES
                    a(name="participantes")
                    .form-group.row(v-if="classe.nivel >= 3 && classe.procTrans == 'S'")
                        label.col-sm-2.col-form-label Participante(s): 
                        .col-sm-10
                            tabela-selecao-participantes(
                                v-if="semaforos.entidadesReady"

                                :header="estilo.participantesTableHeader"
                                :complete-rows="entidadesP"
                                :ready="semaforos.entidadesReady"
                                :cwidth="estilo.participantesTableWidth"
                                                        
                                class-table='table table-condensed'

                                @select-clicked="selecionarParticipante($event)"
                            )
                            h4(v-else) A carregar...

                    hr

                    //- PROCESSOS RELACIONADOS
                    a(name="PNrel")
                    .form-group.row
                        label.col-sm-2.col-form-label Processo(s) Relacionado(s): 
                        .col-sm-10
                            tabela-selecao-proc-relacionados(
                                v-if="classesReady"

                                select-left="true"
                                pages-on="true"

                                :header="estilo.processosRelacionadosTableHeader"
                                :cwidth="estilo.processosRelacionadosTableWidth"

                                :complete-rows="listaProcessos"

                                filter-on="true"
                                        
                                class-table='table table-condensed'
                                        
                                @proc-select-clicked="selecionarProcesso($event)"
                            )
                            h4(v-else) A carregar... 

                    hr

                    //- LEGISLAÇÃO
                    a(name="legislacao")
                    .form-group.row
                        label.col-sm-2.col-form-label Legislação: 
                        .col-sm-10
                            custom-table-select(
                                v-if="semaforos.legislacaoReady"

                                :header="estilo.legislacaoTableHeader"
                                :cwidth="estilo.legislacaoTableWidth"

                                :complete-rows="listaLegislacao"
                                        
                                class-table='table table-condensed'

                                @select-clicked="selecionarLegislacao($event)"
                            )
                            h4(v-else) A carregar...

            .panel.panel-default(v-if="classe.nivel >= 3")
                .panel-heading
                    h4 Decisões de Avaliação
                .panel-body
                    .panel-group
                        .panel.panel-default
                            .panel-heading 
                                b Prazo de Conservação Administrativa
                            .panel-body 
                                a(name="PCA")
                                form(v-if="classe.nivel >= 3")
                                    .form-group.row
                                        label.col-sm-2.col-form-label(for="destino") Prazo:
                                        input(
                                            size="15"
                                            v-model="classe.pca.valor"
                                        )
                                    .form-group.row(v-if="semaforos.pcaFormasContagemReady")
                                        label.col-sm-2.col-form-label(for="notas") Forma de Contagem:
                                        select-value-from-list(
                                            :options = "pcaFormasContagem"
                                            @value-change="classe.pca.formaContagem = $event"
                                        ) 
                                    .form-group.row(v-if="semaforos.pcaSubFormasContagemReady && classe.pca.formaContagem=='vc_pcaFormaContagem_disposicaoLegal'")
                                        label.col-sm-2.col-form-label(for="notas") Subforma de contagem:
                                        select-value-from-list(
                                            :options = "pcaSubFormasContagem"
                                            @value-change="classe.pca.subFormaContagem = $event"
                                        )
                        .panel.panel-default
                            .panel-heading 
                                b Justificação
                            .panel-body 
                                .fieldset.form-group(v-for="(crit, index) in classe.pca.justificacao")
                                    .form-group.row(v-if="crit.tipo=='Indefinido'")
                                        label.col-sm-2.col-form-label Critério:
                                        select-value-from-list( 
                                            :options = "pcaTiposCriterio"
                                            @value-change="crit.tipo = $event"
                                        )
                                    .form-group.row(v-else) 
                                        label.col-sm-2.col-form-label Critério:
                                        .col-sm-10 {{crit.tipo}}
                                    .form-group.row
                                        label.col-sm-2.col-form-label Notas:
                                        textarea.col-sm-10(
                                            cols="60"
                                            lines="5"
                                            v-model="crit.notas"
                                        )  
                                    .form-group.row(v-if="crit.procRel.length > 0") 
                                        label.col-sm-2.col-form-label Processos relacionados: 
                                        .col-sm-10
                                            ul
                                                li(v-for="(proc, i) in crit.procRel") {{proc}}

                                    .form-group.row(v-if="crit.legislacao.length > 0") 
                                        label.col-sm-2.col-form-label Legislação associada: 
                                        .col-sm-10
                                            ul
                                                li(v-for="crit.legislacao.length > 0") {{crit.legislacao}}

                                button(@click="adicionarCriterio(classe.pca.justificacao, 'Indefinido', '', [], [])") Adicionar Critério

                    //- DESTINO FINAL
                    .panel-group
                        .panel.panel-default
                            .panel-heading 
                                b Destino Final
                            .panel-body 
                                a(name="DF")
                                form(v-if="classe.nivel >= 3")
                                    .form-group.row
                                        label.col-sm-2.col-form-label Destino:
                                        select-value-from-list(
                                            :options = "destinoFinalTipos"
                                            @value-change="classe.df.valor = $event"
                                        )
                                    .form-group.row
                                        label.col-sm-2.col-form-label(for="notas") Notas:
                                        textarea.col-sm-10(
                                            id="notas"
                                            cols="60"
                                            lines="5"
                                            v-model="classe.df.notas"
                                        )   
                        .panel.panel-default
                            .panel-heading 
                                b Justificação
                            .panel-body 
                                .fieldset.form-group(v-for="(critDF, indexDF) in classe.df.justificacao")
                                    .form-group.row(v-if="critDF.tipo=='Indefinido'")
                                        label.col-sm-2.col-form-label Critério:
                                        select-value-from-list(
                                            :options = "criteriosDF"
                                            @value-change="critDF.tipo = $event"
                                        )
                                    .form-group.row(v-else) 
                                        label.col-sm-2.col-form-label Critério:
                                        span {{critDF.tipo}}
                                    .form-group.row
                                        label.col-sm-2.col-form-label Notas:
                                        textarea.col-sm-10(
                                            cols="60"
                                            lines="5"
                                            v-model="critDF.notas"
                                        )   
                                    .form-group.row(v-if="critDF.procRel.length > 0") 
                                        label.col-sm-2.col-form-label Processos relacionados: 
                                        .col-sm-10
                                            ul
                                                li(v-for="(proc, i) in critDF.procRel") {{proc}}

                                    .form-group.row(v-if="critDF.legislacao.length > 0") 
                                        label.col-sm-2.col-form-label Legislação associada: 
                                        .col-sm-10
                                            ul
                                                li(v-for="(leg, j) in critDF.legislacao") {{leg}}
                            
                                button(@click="adicionarCriterio(classe.df.justificacao, 'Indefinido', '', [], [])") Adicionar Critério
                            
            spinner(ref="spinner" fixed size="lg" text="Por favor aguarde...")

            modal(
                title="Atenção!" 
                :value="modalMsgShow"
                @closed="modalMsgShow=false"

                small
            ) 
                .modal-body(slot="modal-body")
                    center {{modalMsg}}
                .modal-footer(slot="modal-footer")
                    button(@click="modalMsgShow=false") Ok

            input.btn.btn-xs.btn-default.col-sm-2(
                type="button" 
                @click="criarClasse" 
                value="Submeter nova classe" 
                :disabled=`!(
                    ((classe.nivel>1 && parent) || classe.nivel==1) && 
                    classe.codigo
                )`
             )
            p.col-sm-7 {{ message }}

append scripts    
    script(src="/javascripts/component-select-value-from-list.vue")
    script(src="/javascripts/classes/classe-create-lateral-menu.vue")
    script(src="/javascripts/classes/classe-create.vue")
    script(src="/javascripts/component-sel-participantes.vue")
    script(src="/javascripts/component-sel-procRelacionados.vue")