extends ../layout
block lateral
    #sidebar-tabela-classes
        custom-table-waterfall(
            v-if="ready"

            filter-on="true"
            sidebar="true"

            :complete-rows="tableData"
            :n-edits="nEdits"
            
            class='sidebar-nav-table'
            
            @row-clicked="rowClicked($event)"
        )
        h4(
            v-else
        ) A carregar...


block corpo
    #classe-form.panel.panel-default.panel-custom
        .panel-heading
            h3.page-header {{ clas.Code }} - {{ clas.Title }}  
        .panel-body
            .form-group
                table.consulta(v-if="pageReady" style="border-color: white; border-style:solid; margin-bottom:20px")
                    
                    //- STATUS
                    tr
                        td(style="width: 10%")
                            .info-label Status: 
                        td(v-if="edit.Status" style="width:80%" valign="center")
                            select(
                                v-model="newClass.Status"
                            )
                                option(
                                    value="H"
                                    selected
                                )   Harmonização
                                option(
                                    value="A"
                                )   Activa
                                option(
                                    value="I"
                                ) Inactiva
                                
                        td(v-else style="width:80%" valign="center")
                            | {{ clas.Status }} 

                        //if user 
                            td(style="width:10%")
                                label(style="padding-right:5px") Editar
                                input(
                                    type="checkbox"
                                    v-model="edit.Status"
                                )

                    //- CLASSE PAI
                    tr(v-if="clas.Level>1")
                        td(style="width: 10%")
                            .info-label Classe Pai: 
                        td(style="width:80%")
                            a(:href="'/classes/consultar/'+clas.Parent.id") {{ clas.Parent.code }}
                            |  - {{ clas.Parent.title }}

                    //- CLASSES DESCENDENTES
                    tr(v-if="clas.Level<4 && clas.Children")
                        td(style="width: 10%")
                            .info-label Descendência: 
                        td(style="width:80%")
                            ul(style="padding-left:20px")
                                li(v-for="child in clas.Children")
                                    a(:href="'/classes/consultar/c'+child.Code")
                                        | {{ child.Code }}
                                    |  - {{ child.Title }}
                    
                    //- CÓDIGO
                    tr 
                        td(style="width: 10%")
                            .info-label Código: 
                        td(style="width:80%")
                            | {{ clas.Code }}  

                    //- TÍTULO
                    tr
                        td(style="width: 10%")
                            .info-label Título: 
                        td(v-if="edit.Title" style="width:80%")
                            input(
                                size="50"
                                v-model="newClass.Title"
                                :placeholder="clas.Title"
                            )
                        td(v-else style="width:80%")
                            | {{ clas.Title }} 

                        if user 
                            td
                                label.maozinha(
                                    for="titulo"
                                    :class="[edit.Title ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                )
                                input.drop-row(
                                    id="titulo"
                                    type="checkbox"
                                    v-model="edit.Title"
                                )

                accordion.info-classe
                    panel(header="Descritivo da Classe")
                        table.consulta(v-if="pageReady" style="border-color: white; border-style:solid")                

                            //- DESCRIÇÃO
                            tr
                                td(style="width: 10%")
                                    .info-label Descrição: 
                                td(v-if="edit.Desc" style="width:80%")
                                    textarea(
                                        cols="72"
                                        lines="5"
                                        v-model="newClass.Desc"
                                    )
                                td(v-else style="width:80%")
                                    | {{ clas.Desc }} 

                                if user 
                                    td
                                        label.maozinha(
                                            for="descricao"
                                            :class="[edit.Desc ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                        )
                                        input.drop-row(
                                            id="descricao"
                                            type="checkbox"
                                            v-model="edit.Desc"
                                        )

                            //- NOTAS DE APLICAçÃO                        
                            tr
                                td(style="width: 10%")
                                    .info-label Nota(s) de Aplicação:
                                
                                td(v-if="edit.AppNotes" style="width:80%")
                                    div(v-for="(note,index) in newClass.AppNotes")
                                        textarea(
                                            cols="72"
                                            lines="5"
                                            v-model="note.Nota"
                                        )
                                        span.glyphicon.glyphicon-remove(
                                            @click="newClass.AppNotes.splice(index,1)"
                                            style="padding-left: 5px; vertical-align:top"
                                        )
                                    
                                    button(
                                        style="margin-bottom:10px"
                                        @click="newClass.AppNotes.push({id:newNoteID(newClass.AppNotes, 'na'),Nota:''})"
                                    )
                                        | Nova nota
                                
                                td(v-else style="width:80%")
                                    ul(style="padding-left:20px" v-if="appNotesReady")
                                        li(v-for="note in clas.AppNotes")
                                            | {{note.Nota}}
                                
                                if user
                                    td
                                        label.maozinha(
                                            for="notasA"
                                            :class="[edit.AppNotes ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                        )
                                        input.drop-row(
                                            id="notasA"
                                            type="checkbox"
                                            v-model="edit.AppNotes"
                                        )

                            //- EXEMPLOS DE NOTAS DE APLICAçÃO                        
                            tr
                                td(style="width: 10%")
                                    .info-label Exemplo(s) de Nota(s) de Aplicação:
                                td(v-if="edit.ExAppNotes" style="width:80%")
                                    div(v-for="(note,index) in newClass.ExAppNotes")
                                        textarea(
                                            cols="72"
                                            lines="5"
                                            v-model="note.Exemplo"
                                        )
                                        span.glyphicon.glyphicon-remove(
                                            @click="newClass.ExAppNotes.splice(index,1)"
                                            style="padding-left: 5px; vertical-align:top"
                                        )

                                    button(
                                        style="margin-bottom:10px"
                                        @click="newClass.ExAppNotes.push({Exemplo:''})"
                                    )
                                        | Novo exemplo
                                td(v-else style="width:80%")
                                    ul(style="padding-left:20px" v-if="exAppNotesReady")
                                        li(v-for="note in clas.ExAppNotes")
                                            | {{note.Exemplo}}

                                if user
                                    td
                                        label.maozinha(
                                            for="notasEx"
                                            :class="[edit.ExAppNotes ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                        )
                                        input.drop-row(
                                            id="notasEx"
                                            type="checkbox"
                                            v-model="edit.ExAppNotes"
                                        )

                            //- NOTAS DE EXCLUSÃO                        
                            tr
                                td(style="width: 10%")
                                    .info-label Nota(s) de Exclusão:
                                td(v-if="edit.DelNotes" style="width:80%")
                                    div(v-for="(note,index) in newClass.DelNotes")
                                        textarea(
                                            cols="72"
                                            lines="5"
                                            v-model="note.Nota"
                                        )
                                        span.glyphicon.glyphicon-remove(
                                            @click="newClass.DelNotes.splice(index,1)"
                                            style="padding-left: 5px; vertical-align:top"
                                        )
                                    
                                    button(
                                        style="margin-bottom:10px"
                                        @click="newClass.DelNotes.push({id:newNoteID(newClass.DelNotes, 'ne'),Nota:''})"
                                    )
                                        | Nova nota
                                td(v-else style="width:80%")
                                    ul(style="padding-left:20px" v-if="delNotesReady")
                                        li(v-for="note in clas.DelNotes")
                                            p(v-html="note.Nota")

                                if user
                                    td
                                        label.maozinha(
                                            for="notasE"
                                            :class="[edit.DelNotes ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                        )
                                        input.drop-row(
                                            id="notasE"
                                            type="checkbox"
                                            v-model="edit.DelNotes"
                                        )

                            //- TERMOS DE ÍNDICE
                            tr(v-if="clas.Level>=3")
                                td(style="width: 10%")
                                    .info-label Termos de Índice:
                                td(v-if="edit.Indexes" style="width:80%")
                                    div(v-for="(ti,index) in newClass.Indexes")
                                        textarea(
                                            cols="72"
                                            lines="5"
                                            v-model="ti.Termo"
                                        )
                                        span.glyphicon.glyphicon-remove(
                                            @click="newClass.Indexes.splice(index,1)"
                                            style="padding-left: 5px; vertical-align:top"
                                        )
                                    
                                    button(
                                        style="margin-bottom:10px"
                                        @click="newClass.Indexes.push({id:newNoteID(newClass.Indexes, 'ti'),Termo:''})"
                                    )
                                        | Novo termo de índice
                                td(v-else style="width:80%")
                                    ul(style="padding-left:20px")
                                        li(v-for="index in clas.Indexes")
                                            | {{ index.Termo }}

                                if user
                                    td
                                        label.maozinha(
                                            for="tIndice"
                                            :class="[edit.Indexes ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                        )
                                        input.drop-row(
                                            id="tIndice"
                                            type="checkbox"
                                            v-model="edit.Indexes"
                                        )

                    panel(header="Contexto de Avaliação" v-if="clas.Level>=3")
                        table.consulta(v-if="pageReady" style="border-color: white; border-style:solid; width:100%")
                            //- TIPO/TRANSVERSAL
                            tr
                                td(colspan=2)
                                    table.noborder
                                        //- TIPO DE PROCESSO
                                        td(style="width: 50%")
                                            table
                                                td(style="width: 10%")
                                                    .info-label Tipo de Processo: 
                                                td(v-if="edit.ProcType" style="width:80%")
                                                    input#pc(
                                                        type="radio"
                                                        value="pc"
                                                        v-model="newClass.ProcType"
                                                    ) 
                                                    label(for="pc" style="font-weight:normal")
                                                        |  Processo Comum
                                                    br
                                                    input#pe(
                                                        type="radio"
                                                        value="pe"
                                                        v-model="newClass.ProcType"
                                                    )
                                                    label(for="pe" style="font-weight:normal")
                                                        |  Processo Específico

                                                td(v-else style="width:80%")
                                                    | {{ clas.ProcType }}  

                                                if user
                                                    td(style="width:10%")
                                                        label.maozinha(
                                                            for="procTipo"
                                                            :class="[edit.ProcType ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                                        )
                                                        input.drop-row(
                                                            id="procTipo"
                                                            type="checkbox"
                                                            v-model="edit.ProcType"
                                                        )

                                        //- PROCESSO TRANSVERSAL
                                        td(style="width: 50%")
                                            table
                                                td(style="width: 10%")
                                                    .info-label Processo Transversal: 
                                                td(v-if="edit.ProcTrans" style="width:80%")
                                                    input#ptS(
                                                        type="radio"
                                                        value="S"
                                                        v-model="newClass.ProcTrans"
                                                    ) 
                                                    label(for="ptS" style="font-weight:normal")
                                                        |  Sim
                                                    br
                                                    input#ptN(
                                                        type="radio"
                                                        value="N"
                                                        v-model="newClass.ProcTrans"
                                                    )
                                                    label(for="ptN" style="font-weight:normal")
                                                        |  Não
                                                td(v-else style="width:80%")
                                                    | {{ clas.ProcTrans=="S" ? "Sim" : "Não" }}  

                                                if user
                                                    td(style="width:10%")
                                                        label.maozinha(
                                                            for="procTrans"
                                                            :class="[edit.ProcTrans ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                                        )
                                                        input.drop-row(
                                                            id="procTrans"
                                                            type="checkbox"
                                                            v-model="edit.ProcTrans"
                                                        )

                            //- DONOS
                            tr
                                td(style="width: 10%")
                                    .info-label Donos:

                                td(v-if="edit.Owners" style="width:80%")
                                    custom-table-select(
                                        v-if="orgsReady"

                                        :header='["#", "Sigla", "Nome", "Tipo"]'
                                        :complete-rows="orgList"
                                        :ready="orgsReady"
                                        :cwidth='["4%", "15%", "70%", "15%"]'
                                        
                                        class-table='table table-condensed'

                                        @select-clicked="orgSelected($event,newClass.Owners,'dono')"
                                    )
                                    h4(
                                        v-else
                                    ) A carregar...

                                td(v-else style="width:80%")
                                    ul(v-if="ownersReady" style="padding-left:20px")
                                        li(v-for="o in clas.Owners")
                                            a(:href="'/organizacoes/consultar/'+o.id") {{ o.Sigla }}
                                            |  - {{ o.Nome }}
                                if user
                                    td(style="width:10%")
                                        label.maozinha(
                                            for="donos"
                                            :class="[edit.Owners ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                        )
                                        input.drop-row(
                                            id="donos"
                                            type="checkbox"
                                            v-model="edit.Owners"
                                        )

                            //- PARTICIPANTES
                            tr(v-if="clas.ProcTrans=='S' || (edit.ProcTrans && newClass.ProcTrans=='S')")
                                td(style="width: 10%")
                                    .info-label Tipo de intervenção do(s) Participante(s):
                                    
                                td(v-if="edit.Participants" style="width:80%")
                                    table
                                        tr
                                            tabs
                                                tab(:header="participationsDic[key]" v-for="(key,index) in Object.keys(participantLists)" :key="index")
                                                    custom-table-select(
                                                        v-if="orgsReady"

                                                        :header='["#", "Sigla", "Nome", "Tipo"]'
                                                        :complete-rows="participantLists[key]"
                                                        :ready="orgsReady"
                                                        :cwidth='["4%", "15%", "70%", "15%"]'
                                                        
                                                        class-table='table table-condensed'

                                                        @select-clicked="orgSelected($event,newClass.Participants[key], key)"
                                                    )
                                                    h4(
                                                        v-else
                                                    ) A carregar...
                                        tr
                                            td(colspan="3")
                                                ul
                                                    li(v-for="key in Object.keys(newClass.Participants)" v-if="newClass.Participants[key].length>0")
                                                        b {{ participationsDic[key] }}
                                                        ul
                                                            li(v-for="(p, index) in newClass.Participants[key]")
                                                                | {{ p.Sigla }} - {{ p.Nome }}

                                td(v-else style="width:80%")
                                    ul(v-if="relProcsReady" style="padding-left:20px")
                                        li(v-for="key in Object.keys(clas.Participants)" v-if="clas.Participants[key].length>0")
                                            b {{participationsDic[key]}}:
                                            ul
                                                li(v-for="p in clas.Participants[key]")
                                                    a(:href="'/organizacoes/consultar/'+p.id") {{ p.Sigla }}
                                                    |  - {{ p.Nome }}
                                if user
                                    td(style="width:10%")
                                        label.maozinha(
                                            for="participantes"
                                            :class="[edit.Participants ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                        )
                                        input.drop-row(
                                            id="participantes"
                                            type="checkbox"
                                            v-model="edit.Participants"
                                        )

                            //- PROCESSOS RELACIONADOS
                            tr
                                td(style="width: 10%")
                                    .info-label Processo(s) Relacionado(s):
                                    
                                td(v-if="edit.RelProcs" style="width:80%")
                                    custom-table-waterfall(
                                        v-if="classesReady"

                                        select-left="true"
                                        pages-on="true"

                                        :header='["Classe", "Título"]'
                                        :complete-rows="classRelList"
                                        :cwidth="['16%', '81%']"
                                        :n-edits="nEdits"

                                        filter-on="true"
                                        
                                        table-class='table table-hover'
                                        
                                        @left-select-clicked="pnRelSelected($event)"
                                    )
                                    h4(
                                        v-else
                                    ) A carregar...
                                    
                                    div(v-if="relationsSelected.length>0")
                                        .info-label(style="text-align:center;width:100%;margin-top:25px;margin-bottom:10px")
                                            | Tipos de Relação
                                        
                                        table.noborder(style="margin-bottom:30px")
                                            tr(
                                                style="padding-bottom:5px"
                                                v-for="pn in relationsSelected" 
                                            )    
                                                td(width="1px")
                                                    select(v-model="pn.relType")
                                                        option(v-for="rel in relationTypes" :value="rel.value")
                                                            | {{rel.label}}
                                                td(style="text-align:left")
                                                    b(style="margin-left:5px")
                                                        | {{pn.code}}
                                                    |  - {{pn.name}}
                                td(v-else style="width:80%")
                                    ul(v-if="relProcsReady" style="padding-left:20px")
                                        li(v-for="key in Object.keys(clas.RelProcs)" v-if="clas.RelProcs[key].length>0")
                                            b É {{ key }}
                                            ul
                                                li(v-for="c in clas.RelProcs[key]")
                                                    a(:href="'/classes/consultar/'+c.id") {{ c.Code }}
                                                    |  - {{ c.Title }}
                                if user
                                    td(style="width:10%")
                                        label.maozinha(
                                            for="relprocs"
                                            :class="[edit.RelProcs ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-edit']"
                                        )
                                        input.drop-row(
                                            id="relprocs"
                                            type="checkbox"
                                            v-model="edit.RelProcs"
                                        )

                            //- LEGISLAÇÃO
                            tr
                                td(style="width: 10%")
                                    .info-label Legislação:
                                td(v-if="edit.Legs" style="width:80%")
                                    table
                                        tr
                                            td
                                                v-select.custom-select( 
                                                    v-model="newClass.Leg"
                                                    :options="legList"
                                                )
                                            td
                                                button(
                                                    @click="addLeg(newClass.Leg.value)"
                                                ) +
                                        tr(v-if="clas.Legs")
                                            td(colspan="2")
                                                ul(style="padding-left:20px")
                                                    li(v-for="(l,index) in newClass.Legs")
                                                        | {{ l.Tipo }} - {{ l.Número }} - {{ l.Titulo }}
                                                        button(
                                                            @click="remLeg(index)"
                                                        ) x
                                td(v-else style="width:80%")
                                    ul(v-if="legsReady" style="padding-left:20px")
                                        li(v-for="l in clas.Legs")
                                            | {{ l.Tipo }} - 
                                            a(:href="'/legislacao/consultar/'+l.id") {{ l.Número }} 
                                            | - {{ l.Titulo }}
                                if user
                                    td(style="width:10%")
                                        label(style="padding-right:5px") Editar
                                        input(
                                            type="checkbox"
                                            v-model="edit.Legs"
                                        )

                    panel(header="Decisões de Avaliação" v-if="clas.Level>=3")
                        table.consulta.noborder(v-if="pageReady" style="border-color: white; border-style:solid")
                            //- PRAZO DE CONSERVAÇÃO ADMINISTRATIVA
                            tr(v-if="clas.PCA.valores.length")
                                td
                                    .info-label(style="text-align:center")
                                        | Prazo de Conservação Administrativa
                            tr(v-if="clas.PCA.valores.length")
                                td
                                    table.noborder
                                        tr
                                            td(width="125px")
                                                .info-label Prazo:
                                            td
                                                | {{ clas.PCA.valores.join(', ') }}
                                            td(style="padding-left:10px" width="170px")
                                                .info-label Forma de Contagem:
                                            td
                                                | {{ clas.PCA.contagemnormalizada }}  
                                        tr(v-if="clas.PCA.contagemnormalizada=='Conforme disposição legal'")
                                            td
                                                .info-label Sub-forma de Contagem:
                                            td(colspan=3)
                                                | {{ clas.PCA.subContagem }}
                                        tr
                                            td
                                                .info-label Justificação:
                                            td(colspan=3)
                                                table(v-for="criterio in clas.PCA.criterios")
                                                    tr
                                                        td
                                                            b {{ criterio.tipo }}
                                                    tr
                                                        td 
                                                            p(v-html="criterio.nota")
                                
                            //- DESTINO FINAL
                            tr(v-if="clas.DF.valores.length")
                                td
                                    .info-label(style="text-align:center") 
                                        | Destino Final
                            tr(v-if="clas.DF.valores.length")
                                td
                                    table.noborder
                                        tr
                                            td(width="120px")
                                                .info-label Destino Final:
                                            td
                                                | {{ clas.DF.valores.join(', ') }}                                            
                                        tr
                                            td
                                                .info-label Justificação:
                                            td
                                                table(v-for="criterio in clas.DF.criterios")
                                                    tr
                                                        td
                                                            b {{ criterio.tipo }}
                                                    tr
                                                        td 
                                                            p(v-html="criterio.nota")
                                                             
            //- Buttons
            spinner(ref="spinner" size="lg" fixed text="Por favor aguarde...")

            if user
                input.btn.btn-xs.btn-default.col-sm-1(
                    type="button" 
                    @click="updateClass" 
                    value="Confirmar" 
                    :disabled="!readyToUpdate()"
                )
                input.btn.btn-xs.btn-warning.col-sm-1(
                    type="button" 
                    @click="delReady" 
                    value="Apagar" 
                    :disabled="readyToUpdate()"
                )
                p.col-sm-5 {{ message }}

                input.btn.btn-xs.btn-danger(
                    v-if="delConfirm"
                    type="button" 
                    @click="deleteClass" 
                    value="OK" 
                )
                input.btn.btn-xs.btn-info(
                    v-if="delConfirm"
                    type="button" 
                    @click="delNotReady" 
                    value="<-" 
                )
    //-

append scripts    
    script(src="/javascripts/classes/consulta.vue")
    script(src="/javascripts/classes/consulta-sidebar.vue")